<footer class="footer-top">
    <div class="container footer-showroom">
        <div class="row">
            <div class="ben-animate col-lg-4 col-md-12 col-xl-4 fadeInUp ben-animated">
                <h5 class="acd-ben-truso">BEN COMPUTER - TRỤ SỞ CHÍNH (HÀ NỘI)</h5>

                <ul id="acd-ben-truso">
                    <li>Địa chỉ: Số 7, Ngõ 92 đường Nguyễn Khánh Toàn, Cầu Giấy, Hà Nội
                        <a target="_blank" class="addresslink" rel="nofollow" href="https://www.google.com/maps/d/edit?mid=11nXyTUsdd-y2NY_X7ACdg-ZWVLsErh4g&amp;usp=sharing"> (Xem bản đồ) </a>
                    </li>
                    <li>Hotline: <a href="tel:0899.179.991">0899.179.991</a></li>
                    <li>Thời gian làm việc: từ 8h15 - 17h30 hằng ngày</li>
                </ul>
            </div>

            <div class="ben-animate col-lg-4 col-md-12 col-xl-4 fadeInUp ben-animated">
                <h5 class="acd-ben-htkt">PHÒNG BÁN HÀNG TRỰC TUYẾN</h5>

                <ul id="acd-ben-htkt">
                    <li>Địa chỉ: Số 7, Ngõ 92 đường Nguyễn Khánh Toàn, Cầu Giấy, Hà Nội
                        <a target="_blank" class="addresslink" rel="nofollow" href="https://www.google.com/maps/d/edit?mid=11nXyTUsdd-y2NY_X7ACdg-ZWVLsErh4g&amp;usp=sharing"> (Xem bản đồ) </a>
                    </li>
                    <li>Hotline: <a href="tel:024.3767.7045">024.3767.7045</a></li>
                    <li>Email: <a href="mailto:saleonline@ben.com.vn">saleonline@ben.com.vn</a></li>
                    <li>Thời gian làm việc: từ 8h15 - 17h30 hằng ngày</li>
                </ul>
            </div>

            <div class="ben-animate col-lg-4 col-md-12 col-xl-4 fadeInUp ben-animated">
                <h5 class="acd-ben-htkt2">SHOWROOM 74 NGUYỄN KHÁNH TOÀN</h5>

                <ul id="acd-ben-htkt2">
                    <li>Địa chỉ: Số 74 Nguyễn Khánh Toàn, Cầu Giấy, Hà Nội
                        <a target="_blank" class="addresslink" rel="nofollow" href="https://goo.gl/maps/XB5s7ZUQ3D16Co7X7"> (Xem bản đồ) </a>
                    </li>
                    <li>Hotline 1: <a href="tel:024.3767.7045">024.3767.7045</a></li>
                    <li>Hotline 2: <a href="tel:0966.295.846">0966.295.846</a></li>
                    <li>Thời gian làm việc: từ 8h15 - 21h00 hằng ngày</li>
                </ul>
            </div>

            <div class="ben-animate col-lg-4 col-md-12 col-xl-4 fadeInUp ben-animated">
                <h5 class="acd-ben-htkt3">PHÒNG KINH DOANH PHÂN PHỐI</h5>

                <ul id="acd-ben-htkt3">
                    <li>Địa chỉ: Số 7, Ngõ 92 Nguyễn Khánh Toàn, Cầu Giấy, Hà Nội
                        <a target="_blank" class="addresslink" rel="nofollow" href="https://www.google.com/maps/d/edit?mid=11nXyTUsdd-y2NY_X7ACdg-ZWVLsErh4g&amp;usp=sharing"> (Xem bản đồ) </a>
                    </li>
                    <li>Hotline 1: <a href="tel:0899.179.993">0899.179.993</a></li>
                    <li>Hotline 2: <a href="tel:024.3730.1945">024.3730.1945</a></li>
                    <li>Thời gian làm việc: từ 8h15 - 17h30 hằng ngày</li>
                </ul>
            </div>

            <div class="ben-animate col-lg-4 col-md-12 col-xl-4 fadeInUp ben-animated">
                <h5 class="acd-ben-htkt4">PHÒNG KHÁCH HÀNG DOANH NGHIỆP</h5>

                <ul id="acd-ben-htkt4">
                    <li>Địa chỉ: Số 7, Ngõ 92 Nguyễn Khánh Toàn, Cầu Giấy, Hà Nội
                        <a target="_blank" class="addresslink" rel="nofollow" href="https://www.google.com/maps/d/edit?mid=11nXyTUsdd-y2NY_X7ACdg-ZWVLsErh4g&amp;usp=sharing"> (Xem bản đồ) </a>
                    </li>
                    <li>Hotline: <a href="tel:0899.179.991">0899.179.991</a></li>
                    <li>Thời gian làm việc: từ 8h15 - 17h30 hằng ngày</li>
                </ul>
            </div>

            <div class="ben-animate col-lg-4 col-md-12 col-xl-4 fadeInUp ben-animated">
                <h5 class="acd-ben-htkt5">PHÒNG KỸ THUẬT BẢO HÀNH</h5>

                <ul id="acd-ben-htkt5">
                    <li>Địa chỉ: Số 7, Ngõ 92 Nguyễn Khánh Toàn, Cầu Giấy, Hà Nội
                        <a target="_blank" class="addresslink" rel="nofollow" href="https://www.google.com/maps/d/edit?mid=11nXyTUsdd-y2NY_X7ACdg-ZWVLsErh4g&amp;usp=sharing"> (Xem bản đồ) </a>
                    </li>
                    <li>Hotline: <a href="tel:0899.179.992">0899.179.992</a></li>
                    <li>Thời gian làm việc: từ 8h15 - 17h30 hằng ngày</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid footerbar">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-sm-12 barbox">
                    <img src="/tpl/V0505/img/2019/policy-5.png" alt="">
                    <span class="promoTitle">MIỄN PHÍ VẬN CHUYỂN</span>
                    <br>
                    <span class="promoText">Giao hàng toàn quốc</span>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-12 barbox">
                    <img src="/tpl/V0505/img/2019/policy-6.png" alt="">
                    <span class="promoTitle">HỖ TRỢ TRỰC TUYẾN</span>
                    <br>
                    <span class="promoText">Tư vấn giải đáp mọi thắc mắc</span>

                </div>
                <div class="col-xl-3 col-lg-6 col-sm-12 barbox">
                    <img src="/tpl/V0505/img/2019/policy-7.png" alt="">
                    <span class="promoTitle">THANH TOÁN BẢO MẬT</span>
                    <br>
                    <span class="promoText">Trả tiền mặt, CK, trả góp</span>

                </div>
                <div class="col-xl-3 col-lg-6 col-sm-12 form-group">
                    <label> Đăng ký nhận chương trình khuyến mãi mỗi ngày!</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="subscribeEmail" placeholder="Nhập địa chỉ email của bạn">
                        <div class="input-group-append">
                            <button type="button" id="btnSubscribeEmail" class="btn btn-warning">Đăng ký</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-info">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-12 ben-animate fadeInUp ben-animated">
                <h5 class="acd-ben-info">
                    THÔNG TIN VỀ BEN COMPUTER
                    <hr>
                </h5>
                <ul id="acd-ben-info">
                    <li><a href="/tin-tuc/gioi-thieu-cong-ty/">Giới thiệu về Ben Computer</a></li>
                    <li><a href="/tin-tuc/lien-he/">Thông tin liên hệ</a></li>
                    <li><a href="/tin-tuc/">Thông tin tuyển dụng</a></li>
                    <li><a href="/tin-tuc/">Tin tức công nghệ</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12 ben-animate fadeInUp ben-animated">
                <h5 class="acd-ben-cs">
                    CHÍNH SÁCH MUA HÀNG &amp; BẢO HÀNH
                    <hr>
                </h5>
                <ul id="acd-ben-cs">
                    <li><a href="/tin-tuc/chinh-sach-bao-hanh/">Chính sách bảo hành</a></li>
                    <li><a href="/tin-tuc/chinh-sach-doi-tra-hoan-tien/">Chính sách đổi trả, hoàn tiền</a></li>
                    <li><a href="/tin-tuc/chinh-sach-tra-gop/">Chính sách trả góp</a></li>
                    <li><a href="/tin-tuc/chinh-sach-bao-mat-thong-tin/">Chính sách bảo mật thông tin</a></li>
                    <li><a href="/tin-tuc/phuong-thuc-thanh-toan/">Phương thức thanh toán</a></li>
                    <li><a href="/tin-tuc/chinh-sach-van-chuyen-lap-dat-n55786/">Vận chuyển, lắp đặt</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12 ben-animate fadeInUp ben-animated">
                <h5 class="acd-ben-supp">
                    HỖ TRỢ KHÁCH HÀNG
                    <hr>
                </h5>
                <ul id="acd-ben-supp">
                    <li><a href="/tin-tuc/huong-dan-mua-hang-truc-tuyen-tai-ben-computer/">Hướng dẫn mua hàng online</a></li>
                    <li><a href="/tin-tuc/lien-he/">Gửi tin nhắn cho chúng tôi</a></li>
                    <li><a href="/khuyen-mai/">Chương trình khuyến mại</a></li>
                    <li><a href="/tin-tuc/">Thông báo giờ làm việc</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12 ben-animate fadeInUp ben-animated">
                <h5 class="acd-ben-soc">
                    CỘNG ĐỒNG BEN COMPUTER
                    <hr>
                </h5>
                <ul id="acd-ben-soc">
                    <li><i class="fab fa-facebook-square text-color-face fa-fw"></i> <a href="https://www.facebook.com/bencomputers/" rel="nofollow">Ben Computer fanpage</a></li>
                    <li><i class="fab fa-youtube text-color-youtube fa-fw"></i> <a href="https://www.youtube.com/channel/UCf2K9QKCPPfSC3GtnNrMZIQ" rel="nofollow">Ben Computer</a></li>
                    <li><i class="fab fa-facebook-messenger text-color-msg fa-fw"></i> <a href="http://m.me/bencomputers" rel="nofollow">Chat với tư vấn viên</a></li>
                    <li class="pc"><img src="/tpl/V0505/img/2019/policy-8.png" class="mt-3" style="max-width: 50%;" alt="Đã thông báo bộ công thương"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container footer-copy">
        <div class="row">
            <div class="col-12 copyright">
                Bản quyền thuộc về Công ty Cổ phần Bền. GPKD số 0101760800 do Sở KHĐT TP. Hà Nội cấp ngày 22/8/2005
            </div>
        </div>
    </div>
</footer>

<script>
    var even = true;

    $('h5').click(function() {
        var cl =  $(this).attr('class');
        if(even) {
            footerClickClose(cl);
        } else {
            footerClickOpen(cl);
        }
        even = !even;
    });

    function footerClickClose(id) {
        document.getElementById(id).hidden = "true";
    }

    function footerClickOpen(id) {
        var p = document.getElementById(id);
        p.removeAttribute("hidden");
    }
</script>