<footer class="footer">
    <div class="bg_footer">
        <div class="ff_footer">
            <div class="container">
                <div class="first_footer">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                            <span class="img_mailing"><img src="/tpl/V0510/img/mailing.png" alt="mailing"></span>
                            <div class="right_mailling">
                                <p>Đăng ký nhận bản tin</p>
                                <span>Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn</span>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            <div class="form_subs">
                                <form action="/" method="post">
                                    <input type="email" value="" placeholder="Nhập email đăng ký của bạn" name="EMAIL" id="subsInput"  aria-label="general-newsletter_form-newsletter_email">
                                    <button class="btn btn-white subscribe" name="subscribe" id="subscribe">Đăng ký</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="middle">
            <div class="footer-middle container">
                <div class="row  multi-columns-row">
                    <div class="col-md-12 col-lg-3 col-sm-6 col-xs-12">
                        <h4 class="h2_footer">Hỗ trợ khách hàng</h4>
                        <div class="row">
                            <div class="contacts-info col-md-6 col-lg-12 col-sm-12 col-xs-12">

                                <h4 style="margin-bottom:0px; padding-bottom: 0;"><i style="color:#222;margin-right:10px;" class="fa fa-map-marker"></i> Hà Nội</h4>
                                <p style="color:#222;padding: 0px;"><a href="#">Tòa nhà Vân Hồ, 51 Lê Đại Hành, Hai Bà Trưng, Hà Nội</a></p>
                                </a></p>
                                <h4 style="margin-bottom:0px; padding-bottom: 0;"><i style="color:#222;margin-right:10px;" class="fa fa-map-marker"></i> TP.Hồ Chí Minh</h4>
                                <p style="color:#222;padding: 0px;"><a href="#">Tầng 4 - Số 70 Lữ Gia Plaza - Phường 15 - Quận 11</a>
                                    <a class="phone_footer" href="tel:"></a>
                                </p>
                            </div>
                            <div class="intro-col4 margin-top col-md-6 col-lg-12 col-sm-12 col-xs-12 mb-3">
                                <h6>Liên kết sàn TMĐT</h6>
                                <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/nhanh.vn" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=295&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fnhanh.vn&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false">
                                <span style="vertical-align: bottom; width: 295px; height: 196px;">
                                    <iframe name="f3f1bdfc81cd668" width="1000px" height="1000px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.12/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfa22612855d7f8%26domain%3Dt0161.store.nhanh.vn%26origin%3Dhttp%253A%252F%252Ft0161.store.nhanh.vn%252Fff3f5d8964cc8%26relation%3Dparent.parent&amp;container_width=295&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fnhanh.vn&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false" style="border: none; visibility: visible; width: 295px; height: 196px;" class="">
                                    </iframe>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-2 col-sm-12 col-xs-12">
                        <h4 class="h2_footer h2_click closed">Beemart.vn</h4>
                        <ul class="links closed">

                            <li><a href="/">Trang chủ</a></li>

                            <li><a href="#">Giới thiệu</a></li>

                            <li><a href="/product">Sản phẩm</a></li>

                            <li><a href="#">Tin tức</a></li>

                            <li><a href="#">Tuyển dụng</a></li>

                            <li><a href="#">Đường đến Beemart</a></li>

                            <li><a href="#">Hợp tác kinh doanh</a></li>

                        </ul>
                    </div>
                    <div class="col-md-12 col-lg-2 col-sm-12 col-xs-12">
                        <h4 class="h2_footer h2_click closed">Sản phẩm</h4>
                        <ul class="links closed">

                            <li><a href="#">Combo sản phẩm</a></li>

                            <li><a href="#">Dụng cụ làm bánh</a></li>

                            <li><a href="#">Khuôn khay làm bánh</a></li>

                            <li><a href="#">Nguyên liệu làm bánh</a></li>

                            <li><a href="#">Túi hộp trang trí</a></li>

                            <li><a href="#">Lớp học làm bánh</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-lg-2 col-sm-12 col-xs-12">
                        <h4 class="h2_footer h2_click closed">Khách hàng</h4>
                        <ul class="links closed">

                            <li><a href="#">Hướng dẫn mua hàng</a></li>

                            <li><a href="#">Chính sách giao hàng</a></li>

                            <li><a href="#">Chính sách đổi trả hàng</a></li>

                            <li><a href="#">Chính sách bảo hành</a></li>

                            <li><a href="#">Chính sách khách hàng</a></li>

                            <li><a href="#">Phương thức thanh toán</a></li>

                            <li><a href="#">Cam kết chất lượng</a></li>

                            <li><a href="#">Phàn nàn và khiếu nại</a></li>

                            <li><a href="#">Dịch vụ cho thuê phòng bánh</a></li>

                        </ul>
                    </div>
                    <div class="col-md-12 col-lg-2 col-sm-12 col-xs-12">
                        <h4 class="h2_footer h2_click closed last">Blog làm bánh</h4>
                        <ul class="links closed">

                            <li><a href="#">10 dụng cụ không thể thiếu khi làm bánh</a></li>

                            <li><a href="#">Cùng học làm bánh</a></li>

                            <li><a href="#">Công thức trà và chè đơn giản</a></li>

                            <li><a href="#">Cách làm bánh trung thu</a></li>

                            <li><a href="#">Mua nguyên liệu làm bánh trung thu ở đâu</a></li>

                            <li><a href="#">10 công thức pha sữa hạt phổ biến nhất</a></li>

                            <li><a href="#">Hạt dinh dưỡng là gì?</a></li>

                            <li><a href="#">Sữa hạt là gì?</a></li>

                            <li><a href="#">Ngũ cốc giảm cân tốt cho sức khỏe</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer_titme">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="phone-footer">
                                        <span class="icon_footer_phone"></span>
                                        <p>Hotline : </p>
                                        <a href="tel:19002812">1900.2812</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="email-footer">
                                        <span class="icon_footer_email"></span><p>Email hỗ trợ : </p>
                                        <a href="mailto:support@beemart.vn">contact@nhanh.vn</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="phone-footer">
                                        <span class="icon_footer_clock"></span>
                                        <p>Tất cả các ngày, trừ ngày lễ : </p>
                                        <span class="time">08:00 - 21:00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <p style="font-weight: 700;text-transform: uppercase;">
                                Tải mobile app: Nhanh.vn
                            </p>
                            <a target="blank_" class="block margin-bottom-5" href="https://apps.apple.com/vn/app/nhanh-vn-pos/id1275801299?l=vi"><img src="/tpl/V0510/img/apple-en.png"></a>
                            <a target="blank_" href="https://play.google.com/store/apps/details?id=com.www.nhanh.vn"><img src="/tpl/V0510/img/google-en.png"></a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <a target="blank_" class="block margin-bottom-5" href="#"><a href="#" rel="nofollow"><img src="/tpl/V0510/img/dathongbao.png" alt="Đã thông báo với Bộ Công Thương"></a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-xs-12 coppyright">
                    <b>Nhanh.vn</b><br>Mã số doanh nghiệp 0104838501 - Cấp ngày 30/07/2010 Nơi cấp: Sở KH-ĐTTP Hà Nội<br>

                    <a href="#" rel="dofollow" class="published">Thiết kế website</a> bởi Nhanh.vn


                </div>
                <div class="col-sm-3 col-xs-12 company-links hidden-xs" style="text-align: right;">
                    <div class="payment-accept">
                        <div>
                            <a target="_blank" href="#" rel="nofollow"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#" rel="nofollow"></a>
                            <a target="_blank" href="#" rel="nofollow"></a>
                            <a target="_blank" href="#" rel="nofollow"><i class="fa fa-comments"></i></a>
                            <a target="_blank" href="#" rel="nofollow"><i class="fa fa-youtube"></i></a>
                            <a target="_blank" href="#" rel="nofollow"><i class="fa fa-globe"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" id="back-to-top" class="backtop"  title="Lên đầu trang"><i class="fa fa-angle-up" aria-hidden="true"></i></a>