    <!-- Modal add cart -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-6">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Sản phẩm đã được thêm vào giỏ hàng</h5>
                        </div>
                        <div class="modal-product">
                            <div class="modal-header">
                                <img src="https://hstatic.net/804/1000055804/1/2015/12-4/13_7_a42085a7-0b12-4676-7ed5-7e799f12e2f5_medium.jpg" alt="..." class="img-thumbnail">
                                <div class="product-infomation">
                                    <p class="product-name">FAZEN MIKAM</p>
                                    <span class="product-price">380,000đ</span>
                                    <span class="product-quantity">Số lượng : 2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 bg-gray-light">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">GIỎ HÀNG CỦA BẠN HIỆN CÓ 7 SẢN PHẨM</h5>
                        </div>
                        <div class="modal-header">
                            <p class="total-cart">
                                <span>Giá trị đơn hàng: </span>
                                <span>2,775,000đ</span>
                            </p>
                        </div>
                        <div class="modal-button">
                            <a href="#" class="">Tiếp tục mua hàng</a>
                            <a href="#" class="">Đặt hàng và thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal add cart -->