    <!-- Modal view product -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <section class="product-detail">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="carousel">
                                        <div class="slick carousel-slick">
                                            <div class="slick-item">
                                                <figure>
                                                    <img src="https://hstatic.net/804/1000055804/1/2015/12-4/3_3_c619e1a1-d6b2-494d-6a8f-83f043d73faf_master.jpg" alt="" class="img img-full w-100" />
                                                    <span class="discount"> - 12%</span>
                                                </figure>
                                            </div>
                                            <div class="slick-item">
                                                <figure>
                                                    <img src="https://hstatic.net/804/1000055804/1/2015/12-4/3_3_c619e1a1-d6b2-494d-6a8f-83f043d73faf_master.jpg" alt="" class="img img-full w-100" />
                                                    <span class="discount"> - 12%</span>
                                                </figure>
                                            </div>
                                            <div class="slick-item">
                                                <figure>
                                                    <img src="https://hstatic.net/804/1000055804/1/2015/12-4/3_3_c619e1a1-d6b2-494d-6a8f-83f043d73faf_master.jpg" alt="" class="img img-full w-100" />
                                                    <span class="discount"> - 12%</span>
                                                </figure>
                                            </div>
                                            <div class="slick-item">
                                                <figure>
                                                    <img src="https://hstatic.net/804/1000055804/1/2015/12-4/3_3_c619e1a1-d6b2-494d-6a8f-83f043d73faf_master.jpg" alt="" class="img img-full w-100" />
                                                    <span class="discount"> - 12%</span>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="slick carousel-thumb-slick">
                                            <div class="slick-item">
                                                <figure>
                                                    <img src="https://hstatic.net/804/1000055804/1/2015/12-4/3_3_c619e1a1-d6b2-494d-6a8f-83f043d73faf_master.jpg" alt="" class="img img-full" />
                                                </figure>
                                            </div>
                                            <div class="slick-item">
                                                <figure>
                                                    <img src="https://hstatic.net/804/1000055804/1/2015/12-4/3_3_c619e1a1-d6b2-494d-6a8f-83f043d73faf_master.jpg" alt="" class="img img-full" />
                                                </figure>
                                            </div>
                                            <div class="slick-item">
                                                <figure>
                                                    <img src="https://hstatic.net/804/1000055804/1/2015/12-4/3_3_c619e1a1-d6b2-494d-6a8f-83f043d73faf_master.jpg" alt="" class="img img-full" />
                                                </figure>
                                            </div>
                                            <div class="slick-item">
                                                <figure>
                                                    <img src="https://hstatic.net/804/1000055804/1/2015/12-4/3_3_c619e1a1-d6b2-494d-6a8f-83f043d73faf_master.jpg" alt="" class="img img-full" />
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="product-detail-title">Cazenas Mitra</h2>
                                    <span class="product-detail-price text-danger">215,000₫</span>
                                    <div class="amout">
                                        <div class="amout-body">
                                            <div class="form">

                                                <input type="number" id="amout-qty" class="amout-qty" name="amout-qty" min="1" max="15" value="1" />
                                                <div class="d-flex flex-column">
                                                    <button class="amout-minus"></button>
                                                    <button class="amout-plus"></button>
                                                </div>
                                            </div>
                                            <div class="form-submit">
                                                <button class="button add-cart" id="addToCart">
                                                    Thêm vào giỏ
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal view product -->