{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Tài khoản').setSeparator(' - ').setAutoEscape(false)|raw }}
{% endblock %}
{% block body %}
    <main class="wrapper main-content  custom_page ">
        <div class="grid">
            <div class="grid__item large--one-third push--large--one-third text-center">
                <div class="note form-success" id="ResetSuccess" style="display:none;">
                    Chúng tôi đã gửi một email với đường dẫn để giúp bạn cập nhật mật khẩu.
                </div>
                <div id="CustomerLoginForm" class="form-vertical" style="display: none;">
                    <form accept-charset="UTF-8" action="/account/login" id="customer_login" method="post">
                        <input name="form_type" type="hidden" value="customer_login">
                        <input name="utf8" type="hidden" value="✓">
                        <h1>Đăng nhập</h1>
                        <label for="CustomerEmail" class="hidden-label">Email</label>
                        <input type="email" name="customer[email]" id="CustomerEmail" class="input-full" placeholder="Email" autocorrect="off" autocapitalize="off" autofocus="">
                        <label for="CustomerPassword" class="hidden-label">Mật khẩu</label>
                        <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full" placeholder="Mật khẩu">
                        <p>
                            <input type="submit" class="btn btn--full" value="Đăng nhập">
                        </p>
                        <p><a href="/">Trở về</a></p>
                        <p><a href="/account/register" id="customer_register_link">Đăng kí</a></p>
                        <p><a href="#recover" id="RecoverPassword">Quên mật khẩu?</a></p>
                    </form>
                </div>

                <div id="RecoverPasswordForm" style="">
                    <h2>Cài đặt lại mật khẩu</h2>
                    <p>Mật khẩu mới sẽ được gửi về email của bạn.</p>
                    <div class="form-vertical">
                        {{ partial('partial/form',{'form':form}) }}
                        <p><a href="/">Bỏ qua</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <style>
        #UserGetActiveCode ul {
            list-style: none;
        }
        #UserGetActiveCode #btnSubmit {
            background: #53b7b7;
            color: #fff;
        }
    </style>
{% endblock %}