<div class="policy clearfix hidden-sm hidden-xs">
    <div class="containerMain">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 item flex">
                <img src="/tpl/V0001/img/2019/policy-1.png" alt="policy">
                <span>Vận chuyển COD </br> Toàn quốc</span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 item flex">
                <img src="/tpl/V0001/img/2019/policy-2.png" alt="policy">
                <span>Miễn phí bảo hành </br> 12 tháng</span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 item flex">
                <img src="/tpl/V0001/img/2019/policy-3.png" alt="policy">
                <span>100% sản phẩm </br> Chính hãng</span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 item flex last">
                <img src="/tpl/V0001/img/2019/policy-4.png" alt="policy">
                <span>Miễn phí đổi trả </br> 07 ngày</span>
            </div>
        </div>
    </div>
</div>