<section class="footer-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-1-service">
                    <div class="owl-carousel owl-service" data-dot="false"
                         data-nav='false'
                         data-play='false'
                         data-loop='false'
                         data-lg-items='3'
                         data-md-items='3'
                         data-sm-items='2'
                         data-xs-items="1"
                         data-margin='15'>
                        <div class="item">
                            <div class="wrap_dv orange hvr-curl-top-right">
                                <div class="img_">
                                    <i class="fa fa-truck"></i>
                                </div>
                                <div class="content_dv">
                                    <p>Giao hàng</p>
                                    <span>Miễn phí trong bán kinh 20km</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrap_dv blue hvr-curl-top-right">
                                <div class="img_">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <div class="content_dv">
                                    <p>Thanh toán</p>
                                    <span>Nhận hàng và thanh toán</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrap_dv gray hvr-curl-top-right">
                                <div class="img_">
                                    <i class="fa fa-recycle"></i>
                                </div>
                                <div class="content_dv">
                                    <p>Đổi trả hàng</p>
                                    <span>Đổi trả hàng lên đến 30 ngày</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-1-link">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <h4>Giới thiệu chung</h4>
                                <ul>

                                    <li><a class="ef" href="/collections/all">Sản phẩm</a></li>

                                    <li><a class="ef" href="/collections/all">Điện tử</a></li>

                                    <li><a class="ef" href="/collections/all">Tạp hóa</a></li>

                                    <li><a class="ef" href="/collections/all">Thời Trang</a></li>

                                    <li><a class="ef" href="/collections/all">Thể Thao</a></li>

                                    <li><a class="ef" href="/collections/all">Liên hệ</a></li>

                                    <li><a class="ef" href="/collections/all">Sale bốc lửa</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <h4>Trợ giúp mua hàng</h4>
                                <ul>

                                    <li><a class="ef" href="/collections/all">Sản phẩm</a></li>

                                    <li><a class="ef" href="/collections/all">Điện tử</a></li>

                                    <li><a class="ef" href="/collections/all">Tạp hóa</a></li>

                                    <li><a class="ef" href="/collections/all">Thời Trang</a></li>

                                    <li><a class="ef" href="/collections/all">Thể Thao</a></li>

                                    <li><a class="ef" href="/collections/all">Liên hệ</a></li>

                                    <li><a class="ef" href="/collections/all">Sale bốc lửa</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <h4>Chính sách chung</h4>
                                <ul>

                                    <li><a class="ef" href="/collections/all">Sản phẩm</a></li>

                                    <li><a class="ef" href="/collections/all">Điện tử</a></li>

                                    <li><a class="ef" href="/collections/all">Tạp hóa</a></li>

                                    <li><a class="ef" href="/collections/all">Thời Trang</a></li>

                                    <li><a class="ef" href="/collections/all">Thể Thao</a></li>

                                    <li><a class="ef" href="/collections/all">Liên hệ</a></li>

                                    <li><a class="ef" href="/collections/all">Sale bốc lửa</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <h4>Chấp nhận thanh toán</h4>
                                <a href=""><img src="//theme.hstatic.net/1000329721/1000424884/14/thanhtoan.png?v=22" alt="thanh toán"/></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-1-subscribe">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                            <div class="social_i">
                                <p></p>
                                <div>

                                    <a href="https://www.facebook.com/" class="block_social" title="Theo dõi chúng tôi trên Facebook"><img class="hvr-buzz" src="//theme.hstatic.net/1000329721/1000424884/14/product-1.gif?v=22" data-lazyload="//theme.hstatic.net/1000329721/1000424884/14/ico_fb.png?v=22"  alt="facebook"/></a>


                                    <a href="https://www.youtube.com/" class="block_social" title="Theo dõi chúng tôi trên Youtube"><img class="hvr-buzz" src="//theme.hstatic.net/1000329721/1000424884/14/product-1.gif?v=22" data-lazyload="//theme.hstatic.net/1000329721/1000424884/14/ico_ytb.png?v=22"  alt="Youtube"/></a>


                                    <a href="https://www.google.com/" class="block_social" title="Theo dõi chúng tôi trên Google+"><img class="hvr-buzz" src="//theme.hstatic.net/1000329721/1000424884/14/product-1.gif?v=22" data-lazyload="//theme.hstatic.net/1000329721/1000424884/14/ico_gg.png?v=22"  alt="Google plus"/></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <div class="wrap_sub form_km">



                                <form action="//dkt.us13.list-manage.com/subscribe/post?u=0bafe4be7e17843051883e746&amp;id=3bdd6e9e3b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                    <input type="email" value="" placeholder="Đăng ký nhận tin" name="EMAIL" id="mail" aria-label="general.newsletter_form.newsletter_email" >
                                    <button class="button_subscribe subscribe" name="subscribe" id="subscribe">Đăng ký</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="info-site">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
                            <h4>Công ty TNHH TMĐT Nhanh.vn</h4>
                            <p>Trụ sở chính: 102,Thai Thinh, Hà Nội, Vietnam</p>
                            <p>Điện thoại: <a href="tel:0912117494">0912117494 </a></p>
                            <p>Email: <a href="mailto:dualeotheme@gmail.com">nhanh@gmail.com</a></p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                            <div class="doitacvanchuyen">
                                <h4>Đối tác vận chuyển</h4>
                                <a href="/"><img src="//theme.hstatic.net/1000329721/1000424884/14/doitacvanchuyen.png?v=22" alt="Đối tác vận chuyển"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>



<footer class="footer">
    <div class="modal" id="productQuickView">
        <div class="modal-content" style="opacity: 1;transform: translateY(0px);margin-top: 68.5px;">
        </div>
    </div>


    <div class="bottom-footer">
        <div class="container">
            <div class="row row_footer">
                <div id="copy1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="row tablet">
                        <div id="copyright" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fot_copyright a-left">
                            <span class="wsp"><span class="mobile">nhanh.vn </span><span class="hidden-xs"> | </span><span class="mobile">Thiết kế web bởi  <a rel="nofollow" href="#" title="Haravan" target="_blank">nhanh.vn</a></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="back-to-top" class="backtop"  title="Lên đầu trang"><i class="fa fa-angle-up"></i></a>


</footer>
<!-- Add to cart -->






<div class="ajax-load">
	<span class="loading-icon">
		<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
			<rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
				<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
			</rect>
			<rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
				<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
			</rect>
			<rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
				<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
			</rect>
		</svg>
	</span>
</div>

<div class="loading awe-popup">
    <div class="overlay"></div>
    <div class="loader" title="2">
        <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
			<rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
            </rect>
		</svg>
    </div>

</div>


<div class="error-popup awe-popup">
    <div class="overlay no-background"></div>
    <div class="popup-inner content">
        <div class="error-message"></div>
    </div>
</div>
<div id="myModal" class="modal" role="dialog">
    <div id="popup-cart-desktop" class="clearfix">

    </div>

</div>

<div id="quickview" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>