
<div class="popup-button-heart-fixed d-none">
    <div class="popup-button-heart-header">
        <div class="close text-left">x</div>
    </div>
    <div class="popup-button-heart-content text-center">
        <img src="/tpl/V0508/img/icon/heart-icon.svg" alt="" class="icon-content">
           <h2>
            Chào mừng đến với chương <br/>
            trình khách hàng thân thiết
           </h2>
            <p>
                Hãy đăng nhập ngay để xem những ưu đãi <br>
                hiện đang có của bạn!
            </p>
        <div class="button-login-popup-heart mt-5">
            <a href="user/signin">
                Đăng nhập
            </a>
        </div>
        <p class="mt-3">Chưa có tài khoản?</p>
        <a style="color:#2979FF;padding:10px 30px;" href="user/signup">Đăng ký ngay </a>
    </div>

</div>

<div class="button-heart-fixed fixed-bottom">
    <img src="/tpl/V0508/img/icon/heart-icon.svg" class="icon" alt="">
</div>
<footer class="mt-5 container-fluid">
    <div class="policy-infor row"><!-- policy-infor -->
        <!-- policy-item-infor -->
        <section class="policy-item-infor col-6 col-md-6 col-lg-3 text-center d-flex flex-column justify-content-center align-items-center">
            <a href="#">
            <i class="fa fa-truck"></i>
            </a>
            <p>GIAO HÀNG MIỄN PHÍ</p>
            <span>NỘI THÀNH TP.HCM VỚI ĐƠN HÀNG <br>
        TỪ 300.000 VNĐ</span>
        </section>
        <!-- end policy-item-infor -->
        <!-- policy-item-infor -->
        <section class="policy-item-infor col-6 col-md-6 col-lg-3 text-center d-flex flex-column justify-content-center align-items-center">
            <a href="#">
            <i class="fa fa-volume-control-phone"></i>
            </a>
            <p>GỌI MUA HÀNG</p>
            <div class="content-info-policy">
            <a href="tel:1900636940" class="sdt-policy">1900636940</a> <span>(9H00 - 21H00, T2 - CN)</span>
            </div>
        </section>
        <!-- end policy-item-infor -->
        <!-- policy-item-infor -->
        <section class="policy-item-infor col-6 col-md-6 col-lg-3 text-center d-flex flex-column justify-content-center align-items-center">
            <a href="#">
            <i class="fa fa-phone-square"></i>
            </a>
            <p>GÓP Ý VÀ KHIẾU NẠI</p>
            <div class="content-info-policy">
            <a href="tel:1900636940" class="sdt-policy">1900636942</a> <span>(9H00 - 21H00, T2 - CN)</span>
            </div>
        </section>
        <!-- end policy-item-infor -->
        <!-- policy-item-infor -->
        <section class="policy-item-infor col-6 col-md-6 col-lg-3 text-center d-flex flex-column justify-content-center align-items-center">
            <a href="#">
            <i class="fa fa-tags"></i>
            </a>
            <p>THANH TOÁN</p>
            <span>KHI NHẬN HÀNG</span>
        </section>
        <!-- end policy-item-infor -->
    </div><!-- end policy-infor -->
    <div class="infor-footer row container">
        <div class="infor-footer-items col-md-6 col-lg-3 col-sm-12 col-12"><!-- infor-footer-items -->
            <h4>Nhanh.vn</h4>
            <p>Nhanh.vn BE YOUR STYLE - Tự hào là thương hiệu thời trang Việt Nam mang lại những trải nghiệm mua sắm tốt nhất, giúp bạn tự tin hơn khi chọn lựa phong cách của chính mình. <br>
                Giấy chứng nhận:......</p>
        </div><!-- end infor-footer-items -->
        <div class="infor-footer-items col-md-6 col-lg-3 col-sm-12 col-12"><!-- infor-footer-items -->
            <h4>THÔNG TIN</h4>
            <ul class="list-unstyled">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Cửa hàng</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Tài khoản</a></li>
            </ul>
        </div><!-- end infor-footer-items -->
        <div class="infor-footer-items col-md-6 col-lg-3 col-sm-12 col-12"><!-- infor-footer-items -->
            <h4>CHÍNH SÁCH</h4>
            <ul class="list-unstyled">
                <li><a href="#">Hướng dẫn mua hàng</a></li>
                <li><a href="#">Quy định đổi hàng</a></li>
                <li><a href="#">Tuyển dụng</a></li>
                <li><a href="#">Hợp tác kinh doanh</a></li>
            </ul>
        </div><!-- end infor-footer-items -->
        <div class="infor-footer-items col-md-6 col-lg-3 col-sm-12 col-12"><!-- infor-footer-items -->
            <h4>KẾT NỐI VỚI Nhanh.vn</h4>
            <ul class="icon-social-footer">
                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <a href="#"><img src="https://theme.hstatic.net/1000197303/1000565533/14/logo_bct_img.png?v=575" class="logo-bct" alt=""></a>
        </div><!-- end infor-footer-items -->
    </div>
    <div class="copy-right">
        <div class="container">
            <p>Copyright © 2018 NHANHVN. 2020 NHANHVN.<a rel="nofollow" target="_blank" href="//www.NHANH.VN" class="">Powered by NHANHVN</a></p>
        </div>
    </div>
</footer>
