
    <p><a  href="/profile/edit"><i class="fa fa-info-circle"></i> Thay đổi thông tin tài khoản</a></p>
    <p><a  href="/profile/changepassword"><i class="fa fa-info-circle"></i> Thay đổi mật khẩu</a></p>
    <p><a  href="/order"><i class="fa fa-info-circle"></i> Đơn hàng</a></p>
    <p><a  href="/order/search"><i class="fa fa-info-circle"></i>Tra Cứu Đơn hàng</a></p>
    <p><a  href="/user/signout"><i class="fa fa-info-circle"></i> Đăng xuất</a></p>
