<div class="opacity_menu"></div>
<div id="mySidenav" class="sidenav menu_mobile hidden-md hidden-lg">
    <div class="top_menu_mobile">
		<span class="close_menu">
		</span>
    </div>
    <div class="content_memu_mb">
        <div class="link_list_mobile">

            <ul class="ct-mobile hidden">


            </ul>
            <ul class="ct-mobile">

                <li class="level0 level-top parent level_ico">
                    <a href="/">Trang chủ</a>

                </li>

                <li class="level0 level-top parent level_ico">
                    <a href="/gioi-thieu">Giới thiệu</a>

                </li>

                <li class="level0 level-top parent level_ico">
                    <a href="/collections/all">Sản phẩm</a>

                    <i class="ti-plus hide_close"></i>
                    <ul class="level0 sub-menu" style="display:none;">

                        <li class="level1">
                            <a href="/giay-training-gym"><span>Giày Training & Gym</span></a>

                        </li>

                        <li class="level1">
                            <a href="/giay-basketball"><span>Giày Basketball</span></a>

                        </li>

                        <li class="level1">
                            <a href="/giay-running"><span>Giày Running</span></a>

                        </li>

                        <li class="level1">
                            <a href="/giay-jodan"><span>Giày Jodan</span></a>

                        </li>

                    </ul>

                </li>

                <li class="level0 level-top parent level_ico">
                    <a href="/tin-tuc">Tin tức</a>

                </li>

                <li class="level0 level-top parent level_ico">
                    <a href="/lien-he">Liên hệ</a>

                </li>

            </ul>
        </div>
    </div>
</div>
<header class="header header_s">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="topbar_left">
                        <ul>
                            <li class="hidden-xs">

                                <a class="hai01" href="tel:seateam2512@gmail.com">seateam2512@gmail.com</a>

                            </li>
                            <li class="line_ hidden-xs">/</li>
                            <li class="hidden-xs">

                                <a class="hai01" href="tel:0359329688">0359329688</a>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 d-list col-xs-12 a-right topbar_right">
                    <div class="list-inline f-right">
                        <ul class="ul-account">

                            <li>
                                <a href="/account/register" title="Đăng ký" class="account_a a_db">
                                    <span>Đăng ký</span>
                                </a>
                            </li>
                            <li class="line_">/</li>
                            <li>
                                <a href="/account/login" title="Đăng nhập" class="account_a a_db">
                                    <span>Đăng nhập</span>
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="mid-header wid_100">
        <div class="container">
            <div class="row">
                <div class="content_header">
                    <div class="header-main">
                        <div class="menu-bar-h nav-mobile-button hidden-md hidden-lg">
                            <i class="fas fa-bars"></i>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="logo logo_centers">

                                <a href="/" class="logo-wrapper ">
                                    <img src="//bizweb.dktcdn.net/100/369/492/themes/741260/assets/logo.png?1594607980046" alt="logo Sea Shoes">
                                </a>

                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="wrap_main hidden-xs hidden-sm">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="bg-header-nav hidden-xs hidden-sm">
                                            <div>
                                                <div class= "row row-noGutter-2">
                                                    <nav class="header-nav">
                                                        <ul class="item_big">



                                                            <li class="nav-item active ">
                                                                <a class="a-img" href="/">
                                                                    <span>Trang chủ</span>
                                                                </a>
                                                            </li>




                                                            <li class="nav-item ">
                                                                <a class="a-img" href="/gioi-thieu">
                                                                    <span>Giới thiệu</span>
                                                                </a>
                                                            </li>





                                                            <li class="nav-item ">
                                                                <a class="a-img" href="/collections/all">
                                                                    <span>Sản phẩm</span><i class="fa fa-caret-down"></i>
                                                                </a>
                                                                <ul class="item_small hidden-sm hidden-xs">

                                                                    <li>
                                                                        <a href="/giay-training-gym" title="">Giày Training & Gym </a>

                                                                    </li>

                                                                    <li>
                                                                        <a href="/giay-basketball" title="">Giày Basketball </a>

                                                                    </li>

                                                                    <li>
                                                                        <a href="/giay-running" title="">Giày Running </a>

                                                                    </li>

                                                                    <li>
                                                                        <a href="/giay-jodan" title="">Giày Jodan </a>

                                                                    </li>

                                                                </ul>
                                                            </li>





                                                            <li class="nav-item ">
                                                                <a class="a-img" href="/tin-tuc">
                                                                    <span>Tin tức</span>
                                                                </a>
                                                            </li>




                                                            <li class="nav-item ">
                                                                <a class="a-img" href="/lien-he">
                                                                    <span>Liên hệ</span>
                                                                </a>
                                                            </li>


                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 padding-0">
                            <div class="cartgroup ">
                                <div class="searchion inline-b">
                                    <span class="visible_index nn"><i class="fas fa-search"></i></span>
                                    <div class="searchmini">
                                        <form action="/search" method="get" class="input-group search-bar" role="search">
                                            <input type="text" name="query" value="" autocomplete="off" placeholder="Tìm kiếm..." class="input-group-field auto-search visible_index">
                                            <button type="submit" class="visible_index btn icon-fallback-text">
                                                <span class="fa fa-search" ></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="header-right inline-block">
                                    <div class="top-cart-contain f-right">
                                        <div class="mini-cart text-xs-center">
                                            <div class="heading-cart cart_header">
                                                <a class="img_hover_cart" href="/cart" title="Giỏ hàng">
                                                    <div class="icon_hotline visible_index">
                                                        <img src="//bizweb.dktcdn.net/100/369/492/themes/741260/assets/shopping-bag.svg?1594607980046" alt="Sea Shoes">
                                                        <span class="count_item count_item_pr button_gradient"></span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="top-cart-content hidden-xs hidden-sm hidden-md">
                                                <ul id="cart-sidebar" class="mini-products-list count_li">
                                                    <li class="list-item">
                                                        <ul></ul>
                                                    </li>
                                                    <li class="action">
                                                        <ul>
                                                            <li class="li-fix-1">
                                                                <div class="top-subtotal">
                                                                    Tổng tiền thanh toán:
                                                                    <span class="price"></span>
                                                                </div>
                                                            </li>
                                                            <li class="li-fix-2" style="">
                                                                <div class="actions">
                                                                    <a href="/cart" class="btn btn-primary" title="Giỏ hàng">
                                                                        <span>Giỏ hàng</span>
                                                                    </a>
                                                                    <a href="/checkout" class="btn btn-checkout btn-gray" title="Thanh toán">
                                                                        <span>Thanh toán</span>
                                                                    </a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-cart-contain f-right hidden">
                                        <div class="mini-cart text-xs-center">
                                            <div class="heading-cart">
                                                <a class="bg_cart" href="/cart" title="Giỏ hàng">
                                                    <img src="//bizweb.dktcdn.net/100/369/492/themes/741260/assets/shopping-bag.svg?1594607980046" alt="Sea Shoes">
                                                    <span class="count_item count_item_pr"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>