<footer>
    <div class="main-footer mx-auto">
        <div class="top-footer mx-auto d-flex flex-wrap">
            <div class="footer-item">
                <h4 class="m-0 position-relative text-uppercase font-weight-bold">Hỗ trợ tải về</h4>
                <ul class="mb-lg-3 m-0">
                    <li><a href="">Brochure/ catalogue</a></li>
                    <li><a href="">Thư viện video</a></li>
                    <li><a href="">Bảng kiểm định an ninh</a></li>
                    <li><a href="">ứng dụng trên IOS và Android</a></li>
                    <li><a href="">Hỏi đáp</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h4 class="m-0 position-relative text-uppercase font-weight-bold">Hỗ trợ tải về</h4>
                <ul class="mb-lg-3 m-0">
                    <li><a href="">Brochure/ catalogue</a></li>
                    <li><a href="">Thư viện video</a></li>
                    <li><a href="">Bảng kiểm định an ninh</a></li>
                    <li><a href="">ứng dụng trên IOS và Android</a></li>
                    <li><a href="">Hỏi đáp</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h4 class="m-0 position-relative text-uppercase font-weight-bold">Hỗ trợ tải về</h4>
                <ul class="mb-lg-3 m-0">
                    <li><a href="">Brochure/ catalogue</a></li>
                    <li><a href="">Thư viện video</a></li>
                    <li><a href="">Bảng kiểm định an ninh</a></li>
                    <li><a href="">ứng dụng trên IOS và Android</a></li>
                    <li><a href="">Hỏi đáp</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h4 class="m-0 position-relative text-uppercase font-weight-bold">Hỗ trợ tải về</h4>
                <ul class="mb-lg-3 m-0">
                    <li><a href="">Brochure/ catalogue</a></li>
                    <li><a href="">Thư viện video</a></li>
                    <li><a href="">Bảng kiểm định an ninh</a></li>
                    <li><a href="">ứng dụng trên IOS và Android</a></li>
                    <li><a href="">Hỏi đáp</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h4 class="m-0 position-relative text-uppercase font-weight-bold">Hỗ trợ tải về</h4>
                <ul class="mb-lg-3 m-0">
                    <li><a href="">Brochure/ catalogue</a></li>
                    <li><a href="">Thư viện video</a></li>
                    <li><a href="">Bảng kiểm định an ninh</a></li>
                    <li><a href="">ứng dụng trên IOS và Android</a></li>
                    <li><a href="">Hỏi đáp</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h4 class="m-0 position-relative text-uppercase font-weight-bold">Hỗ trợ tải về</h4>
                <ul class="mb-lg-3 m-0">
                    <li><a href="">Brochure/ catalogue</a></li>
                    <li><a href="">Thư viện video</a></li>
                    <li><a href="">Bảng kiểm định an ninh</a></li>
                    <li><a href="">ứng dụng trên IOS và Android</a></li>
                    <li><a href="">Hỏi đáp</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h4 class="m-0 position-relative text-uppercase font-weight-bold">Hỗ trợ tải về</h4>
                <ul class="mb-lg-3 m-0">
                    <li><a href="">Brochure/ catalogue</a></li>
                    <li><a href="">Thư viện video</a></li>
                    <li><a href="">Bảng kiểm định an ninh</a></li>
                    <li><a href="">ứng dụng trên IOS và Android</a></li>
                    <li><a href="">Hỏi đáp</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h4 class="m-0 position-relative text-uppercase font-weight-bold">Hỗ trợ tải về</h4>
                <ul class="mb-lg-3 m-0">
                    <li><a href="">Brochure/ catalogue</a></li>
                    <li><a href="">Thư viện video</a></li>
                    <li><a href="">Bảng kiểm định an ninh</a></li>
                    <li><a href="">ứng dụng trên IOS và Android</a></li>
                    <li><a href="">Hỏi đáp</a></li>
                </ul>
            </div>


        </div>
        <div class="center-footer mx-auto d-flex flex-wrap">
            <div class="d-lg-flex flex-wrap contact-ft pt-3 pb-3">
                <p class="text-center col-12 p-0">Khóa cao cấp và Thiết bị an ninh ABUS - Made in Germany được phân phối độc quyền và bảo hành tại công ty TNHH NC. </p>

                <div class="left-bt border">
                    <p class="m-0 p-3">Hà Nội </p>
                    <ul class="p-3 m-0 border-top">
                        <li>51 Nguyễn Thái Học – Ba Đình - Hà nội  </li>
                        <li>Tel: 84-4-3829 4199 | Fax: 84-4-3719 1346   </li>
                    </ul>
                </div>
                <div class="right-bt text-lg-right border">
                    <p class="m-0 p-3">TPHCM</p>
                    <ul class="p-3 m-0 border-top">
                        <li>52C9 Đường 11 Khu Miếu Nổi, phường 2, quận Phú Nhuận - TP HCM  </li>
                        <li>Tel: 84-8-6685-7099 </li>
                    </ul>
                </div>
                <p class="text-right col-12 action-ft m-0 pl-0 pr-0 pt-3">
                    <a href="/" class="d-inline-block">HOME</a>
                    <a href="javascript:" onclick="history.back()" class="d-inline-block">BACK</a>
                    <a href="javascript:" class="d-inline-block back-top">TOP</a>
                </p>
            </div>
        </div>
        <div class="bottom-footer mx-auto d-flex flex-wrap pt-3 pb-3">
            <div class="contact-ft">
                <p class="m-0">© ABUS | August Bremicker Söhne KG</p>
            </div>
        </div>
    </div>
</footer>
