.hotNews {
   padding: 0 10px 0 0;
}
.itemsHotnews {
    width: 32%;
    float: left;
}
.itemshnFirst {
    width: 65%;
    float: left;
    margin-right: 3%;
    min-height: 425px;
}
.itemshnFirst > p *{
    font-weight: normal;
}
.itmsCategory{
    clear: both;
    margin: 5px 0;
}
.itemshnFirst2 {
    border-bottom: 1px solid #CCC;
    padding: 0 0 5px 0;
}
a.bimgHot {
    width: 100%;
    height: 300px;
    display: block;
    position: relative;
    overflow: hidden;
}
a.bimgHot2 {
    width: 100%;
    height: 130px;
    overflow: hidden;
    display: block;
    position: relative;
}
a.bimgHot2 img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
}
a.bimgHot img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}
.itemshnFirst .titleNewss {
    margin: 8px 0 !important;
}
.itemsHotnews .titleNewss {
    margin: 7px 0;
    line-height: 15px;
}
.itemshnFirst .titleNewss a {
    font-size: 18px !important;
}
.itemsHotnews .titleNewss a {
    font-size: 13px;
    color: #555;
}
.siderBar2 ul li{
    list-style: none;
}
.siderBar2 ul li img{
    max-width: 100%;
}
.itemsCategory {
    width: 100%;
    display: inline-block;
    margin: 10px 0 15px 0;
    padding: 0 10px 0 0;
}
.title1 h2, .title4 h2 {
    color: #DB2827;
}
.titleNews h2 {
    margin: 0 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    text-indent: 10px;
    padding: 6px 0;
    letter-spacing: 1px;
}
.title1, .title4 {
    border-left: 7px solid #DB2827 !important;
}
.lnewsFirst:before {
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    background: #DEDEDE;
    position: absolute;
    right: -10px;
    top: 0;
}
.titleNews {
    border-left: 3px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    display: block;
}
.lnews {
    margin: 10px 0 0 0;
    min-height: 80px;
}
.lnewsFirst {
    float: left;
    width: 245px;
    margin: 10px 20px 0 0 !important;
    padding: 10px;
    background: #EEE;
    content: '';
    position: relative;
    min-height: 300px;
}
.lnewsFirst .nImgs {
    width: 100%;
    float: none;
    height: 120px;
    margin: 0 0;
    overflow: hidden;
    border: none;
}
.nImgs img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: auto;
}

.lnewsFirst h3 {
    margin: 5px 0;
}
.lnews h3 {
    margin: 0 0 8px 0;
    line-height: 17px;
}
.lnews h3 a {
    font-size: 14px;
    color: #444;
}

.lnewsFirst p {
    display: block;
}
.lnews p {
    display: table-cell;
    line-height: 18px;
    font-size: 15px;
    color: #333;
}
.title2, .title5 {
    border-left: 7px solid #FF60B2;
}
.containerMain{
    clear: both;
}

.nImgs {
    display: inline-block;
    width: 140px;
    height: 75px;
    float: left;
    position: relative;
    margin: 0 10px 0 0;
    overflow: hidden;
}
.lnews {
    margin: 10px 0 0 0;
    min-height: 80px;
}
.navNews {
    margin: 0 0 10px 0;
    background: #ed3237;
    padding: 10px 0;
    width: 100%;
}
#proSaleBar ul{
    clear: both;
}
.navNews ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
.navNews ul li a {
    color: #FFF;
    white-space: nowrap;
}
.listNews {
    padding: 15px 0;
}
.newsItem {
    display: inline-block;
    width: 95%;
    margin: 10px 0 10px 0;
}
.newsItem .imageWrapper {
    width: 220px;
    height: 160px;
    display: inline-block;
    margin: 0 20px 0 0;
    float: left;
    position: relative;
    border: 1px solid #CCC;
}
.newsItem .imageWrapper img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.contentNews h3 {
    margin: 10px 0 10px 0;
    line-height: 20px;
    font-weight: 400;
}
.contentNews h3 a {
    color: #666;
    font-size: 20px;
}
i.date {
    font-size: 12px;
    color: #999;
    font-style: normal;
    margin:  0 0 10px 0;
}
.contentNews p {
    margin: 10px 0;
    color: #555;
    line-height: 1.5;
}
.singleNews{
    padding: 0 10px 0 0;
}
.contentNews span{
    font-size: 15px;
    font-weight: normal;
}
.titlesingleNews {
    font-size: 1.8em;
    margin:  0 0 10px 0;
    font-weight: bold;
}
.singleNews img{
    max-width: 100%;
}
.newsList .slides.adsNews .owl-stage,
.owl-stage-outer .owl-stage{
    transform: unset !important;
}
.newsList ul{
    margin: 0;
    padding: 0;
    display: block !important;
}
.newsList ul li{
    list-style: none;
    text-align: center;
}
.newsList ul li img{
    max-width: 100%;
}
.blockSocial {
    margin: 10px 0 0 0;
    padding: 10px;
    display: inline-block;
    width: 100%;
    background: #f2f2f2;
}
.blockSocial .socialLeft {
    float: left;
}
.blockSocial .socialLeft ul{
    padding: 0;
}
.blockSocial .socialRight {
    float: right;
}
.socialLeft ul li:first-child {
    margin-left: 0;
}
.socialLeft ul li {
    display: inline-block;
    margin: 0 5px;
}

.blockSocial .socialRight a img {
    max-width: 100%;
}
.fb_iframe_widget {
    display: inline-block;
    position: relative;
}

.socialLeft ul li .fb_iframe_widget>span {
    vertical-align: baseline !important;
}

