<div id="footer">
    <div id="ftTop" class="hidden-sm hidden-xs">
        <div class="containerMain">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-xs-12 subsLabel">
                    <div class="title-lbl">ĐĂNG KÝ NGAY</div>
                    <span>Nhận bản tin khuyến mại từ CẶP TỐT mỗi ngày</span></div>
                <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-xs-12 subscriber">
                    <input type="text" name="subscriber" id="subsInput" placeholder="Nhập địa chỉ email của bạn">
                    <i class="fa fa-paper-plane buttonSubs"></i></div>
            </div>
        </div>
    </div>
    <div id="ftCenter">
        <div class="containerMain">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-xs-12 ftcenCt" id="ftcenCt1">
                    <span>Về Hami</span>
                    <span class="bLineFt"></span>
                    <div style="border-bottom: 1px solid #959596;"><p>CAPTOT.VN - Website bán cặp học sinh siêu nhẹ với
                            hơn 5000 sản phẩm,
                            hơn 500 mẫu cặp cho bạn lựa chọn. Thoải mái mua hàng trên captot.vn
                            với chính sách giao hàng toàn quốc, đổi trả trong 07 ngày cùng nhiều ưu đãi hấp hẫn.</p>
                    </div>
                    <div class="hidden col-lg-12 col-md-12 col-xs-12">
                        <ul class="list-inline" id="ftSocial">
                            <li><a href="" rel="nofollow"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="" rel="nofollow"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="" rel="nofollow"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="" rel="nofollow"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 ftcenCt" id="ftcenCt2">
                    <span>Dành cho người mua</span>
                    <span class="bLineFt"></span>
                    <ul>
                        <li><a><i class="fa fa-angle-right"></i>Bảo mật thông tin</a></li>
                        <li><a><i class="fa fa-angle-right"></i>Chính sách bảo hành</a></li>
                        <li><a><i class="fa fa-angle-right"></i>Chương trình khuyến mại</a></li>
                        <li><a><i class="fa fa-angle-right"></i>Mua hàng và thanh toán</a></li>
                    </ul>
                    <ul id="scFooter">
                        <li class="ftcenCt"><span>Kết nối với chúng tôi</span><span class="bLineFt"></span></li>
                        <li><i class="fa fa-facebook-official" style="padding-right: 5px;color: #4267b2"></i><a
                                    href="//www.facebook.com/Capbalovali/" rel="nofollow"
                                    style="text-decoration: underline" target="_blank">Fanpage Captot.vn</a></li>
                        <li><i class="fa fa-youtube-play" style="padding-right: 5px;color: #da282d"></i><a
                                    href="//www.youtube.com/channel/UCj4rlhg6LgoYBdqkw6vXLpw" rel="nofollow"
                                    style="text-decoration: underline" target="_blank">Kênh Youtube Captot.vn</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 ftcenCt" id="ftcenCt3">
                    <span>Liên hệ</span>
                    <span class="bLineFt"></span>
                    <ul>
                        <li><a><i class="fa fa-angle-right"></i>www.hami.vn</a></li>
                        <li><a><i class="fa fa-angle-right"></i>HotLine: 0988 344 445</a></li>
                        <li><a><i class="fa fa-angle-right"></i>Xem bản đồ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 ftcenCt" id="ftcenCt4">
                    <span>Địa chỉ mua hàng</span>
                    <span class="bLineFt"></span>
                    <p>Công ty TNHH Phân phối HAMI-MITI</p>
                    <p>Địa chỉ: Số 3, ngách 28, ngõ 281 Tam Trinh, Hoàng Mai, Hà Nội</p>
                    <p>Email: online@caphocsinh.com.vn</p>
                    <p>Hotline hỗ trợ 24/7: 0988 344 445</p></div>
                <div class="clearfix"></div>
                <div class="footerEnd clearfix">
                    <div class="col-lg-3 col-md-3 col-xs-12 p-rl-15 hidden-xs">
                        <div id="logoFt">
                            <a href="/" rel="nofollow"><img data-sizes="auto" class="lazyautosizes lazyloaded" alt=""
                                                            src="/tpl/V0001/img/logoFooter.png"
                                                            data-src="/tpl/V0001/img/logoFooter.png" sizes="60px"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 p-rl-15 pays">
                        <span>HỖ TRỢ THANH TOÁN NHANH QUA</span>
                        <img data-sizes="auto" src="/tpl/V0001/img/2019/pays.png"
                             data-src="/tpl/V0001/img/2019/pays.png" alt="thanh toán nhanh"
                             class="lazyautosizes lazyloaded" sizes="60px"></div>
                    <div class="col-lg-3 col-md-3 col-xs-12 p-rl-15 support">
                        <a target="_blank" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=25661"
                           rel="nofollow">
                            <img data-sizes="auto" src="/tpl/V0001/img/2019/bct.png"
                                 data-src="/tpl/V0001/img/2019/bct.png" class="lazyautosizes lazyloaded"
                                 sizes="60px">
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <div id="ftBottom">
        <div class="containerMain">
            <div class="col-lg-12 col-md-12 col-xs-12" id="ftBottomCt">
                <div class="col-lg-6 col-md-6 col-xs-12"><p>© 2015. Công ty TNHH Phân phối HAMI-MITI, MST:
                        0105376190</p></div>
                <div class="col-lg-6 col-md-6 col-xs-12" id="ftBottomCt2">
                    <div style="display: block;"><p style="display: inline-block;color:#908E8E;font-size: 13px;"
                                                    data-runtime="Memory:12.05 mb - Time:0.2s">Thiết kế web bởi <img
                                    data-sizes="auto" src="/images/favicon.ico" data-src="/images/favicon.ico"
                                    alt="Thiết kế web bởi NHANH.VN" title="Thiết kế web bởi NHANH.VN"
                                    class="lazyautosizes lazyloaded" sizes="60px">
                            <a style="display:inline-block;font-size: 13px;color: #f44242" class="logo"
                               href="https://nhanh.vn" target="_blank" rel="nofollow">Nhanh.vn</a></p>
                        <p style="display: inline-block;padding-left: 20px;"></p></div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialogMessage"></div>
    <div style="display: none;">
        <div id="dMsg"></div>
    </div>
</div>