<div id="quick-view-product" class="quickview-product modal fade" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">

        </div>
    </div>
</div>
<div id="popup-cart" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">

        </div>
    </div>
</div>
<footer class="clearfix pos-r">
    <div class="back-to-top pos-a bg-fff text-center show">
        <svg class="GoToTopButton__Arrow-sc-12wmup9-2 hFzFuO SVGIcon__SVG-sc-1a23rvc-0 eXRlqo" viewBox="0 0 32 32">
            <use href="#icon-arrow" xlink:href="#icon-arrow"></use>
        </svg>
    </div>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-f f-vc f-sb xs-f-dc">
                    <span class="cl-252525 fs-14 ls-35">Đăng ký nhận tin mới nhất về ưu đãi</span>


                    <form action="https://eepurl.com/gaQ3B1" method="post" id="mc-embedded-subscribe-form"
                          name="mc-embedded-subscribe-form" target="_blank" class="dib no-mar pos-r">
                        <div class="input-group">
                            <input type="email" autocomplete="off" class="form-control fs-12 cl-898989" value=""
                                   placeholder="Nhập email của bạn" name="EMAIL" id="mail">
                            <button class="btn btn-default no-bg pos-a cl-898989" name="subscribe" id="subscribe"
                                    type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 tar xs-tac sm-tac">
                    <img src="//bizweb.dktcdn.net/100/335/786/themes/726329/assets/payment.png?1593138638645"
                         alt="payment">
                </div>
            </div>
        </div>
    </div>
    <div class="bot-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
                    <a href="/" title="dhkj.vn">
                        <img src="//bizweb.dktcdn.net/100/335/786/themes/726329/assets/logo-footer.png?1593138638645">
                    </a>

                    <div class="custom-social pos-r">
                        <a href="" class="dib tac cl-fff fs-20 hv-bg-febe10"><i class="fa fa-facebook"></i></a>
                        <a href="" class="dib tac cl-fff fs-20 hv-bg-febe10"><i class="fa fa-twitter"></i></a>
                        <a href="" class="dib tac cl-fff fs-20 hv-bg-febe10"><i class="fa fa-youtube"
                                                                                aria-hidden="true"></i></a>
                        <a href="" class="dib tac cl-fff fs-20 hv-bg-febe10"><i class="fa fa-pinterest-p"
                                                                                aria-hidden="true"></i></a>
                        <a href="" class="dib tac cl-fff fs-20 hv-bg-febe10"><i class="fa fa-instagram"></i></a>
                    </div>

                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
                    <h4 class="cliked cl-111111 ttu fw-med">Về chúng tôi</h4>
                    <ul class="toggle-mn hidden-xs">

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/gioi-thieu-chung"
                               title="Giới thiệu chung về DHK">Giới thiệu chung về DHK</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/tin-tuyen-dung"
                               title="Tuyển dụng">Tuyển dụng</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/collections/all"
                               title="Sản phẩm">Sản phẩm</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/tin-tuc" title="Tin tức">Tin
                                tức</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/dat-lich-tu-van"
                               title="Đặt lịch tư vấn">Đặt lịch tư vấn</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline"
                               href="https://forms.gle/YzVkLbc6iVtbaMk86" title="Đặt hàng theo yêu cầu">Đặt hàng theo
                                yêu cầu</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/he-thong-cua-hang"
                               title="Danh sách cửa hàng">Danh sách cửa hàng</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/"
                               title="Bán buôn/Gia công trang sức">Bán buôn/Gia công trang sức</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
                    <h4 class="cliked cl-111111 ttu fw-med">Hỗ trợ mua hàng</h4>
                    <ul class="toggle-mn hidden-xs">

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/chinh-sach-thu-doi"
                               title="Chính sách thu đổi">Chính sách thu đổi</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/chinh-sach-bao-hanh"
                               title="Chính sách bảo hành">Chính sách bảo hành</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/huong-dan"
                               title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/huong-dan-chon-size"
                               title="Hướng dẫn chọn size">Hướng dẫn chọn size</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/bao-quan-trang-suc"
                               title="Hướng dẫn bảo quản">Hướng dẫn bảo quản</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/huong-dan-thanh-toan"
                               title="Hướng dẫn thanh toán">Hướng dẫn thanh toán</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/phuong-thuc-van-chuyen"
                               title="Miễn phí vận chuyển">Miễn phí vận chuyển</a></li>

                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="/dieu-khoan-chung"
                               title="Điều khoản mua sắm chung">Điều khoản mua sắm chung</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col address-col">
                    <h4 class="cliked cl-111111 ttu fw-med">Thông tin</h4>
                    <ul class="toggle-mn">
                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="https://dhkj.vn"
                               title="dhkj.vn"><i class="fa fa-paper-plane" aria-hidden="true"></i> dhkj.vn</a></li>
                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="tel:1900886865"
                               title="1900886865"><i class="fa fa-phone" aria-hidden="true"></i> <b>1900886865</b></a>
                        </li>
                        <li><a class="ef fs-14 cl-636363 hv-cl-fdb913 no-underline" href="javascript:;" title="Hà Nội : Số 1 Thi Sách, Quận Hai Bà Trưng, Hà Nội<br>


Bắc Ninh: Số 112 Nguyễn Gia Thiều, TP Bắc Ninh"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Hà Nội : Số 1 Thi
                                Sách, Quận Hai Bà Trưng, Hà Nội<br>


                                Bắc Ninh: Số 112 Nguyễn Gia Thiều, TP Bắc Ninh</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright tac">
        <div class="container">
            <div class="row">

                <span class="wsp fs-14 cl-fff"><span
                            class="mobile">Bản quyền thuộc về Công ty Cổ phần Đắc Hoàng Kim<span
                                class="hidden-xs"> | </span></span><span class="opacity1">Cung cấp bởi</span> <a
                            href="https://www.sapo.vn/?utm_campaign=cpn:site_khach_hang-plm:footer&amp;utm_source=site_khach_hang&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=site_khach_hang"
                            rel="nofollow" title="Sapo" target="_blank" class="cl-fff">Sapo</a></span>

            </div>
        </div>
    </div>
    <!-- <span style="
    position: fixed;
    bottom: 10px;
    left: 0px;
    padding: 5px 10px;
    background-color: blue;
    color: white;
">Mã:01368</span>-->
</footer>