{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% set quantity = serviceCart().totalQuantities %}
{% set products= serviceCart().getProducts %}
<div class="hidden-md hidden-lg opacity_menu"></div>
<div class="opacity_filter"></div>
<div class="body_opactiy"></div>
<div class="op_login"></div>
<!-- Main content -->


<header class="index pos-f">
    <div class="top-bar ">
        <div class="container-fluid">
            <div class="row d-f f-vc">
                <div class="col-lg-4 col-md-5 col-xs-4 top-bar-account">
                    <div class="dropdown dropdown-account dib hidden-sm hidden-xs">
                        <button class="btn js-dropdown-toggle fw-med cl-fff hv-cl-fdb913 fs-12 no-bg" type="button">
                            <i class="fa fa-user-o" aria-hidden="true"></i>Tài khoản
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu bg-fdb913">

                            <li><a href="/account/login" class="cl-fff hv-bg-fdb913">Đăng nhập</a></li>
                            <li><a href="/account/register" class="cl-fff hv-bg-fdb913">Đăng ký</a></li>

                        </ul>
                    </div>
                    <div class="dropdown dropdown-lang dib  hidden-sm hidden-xs">
                        <a class="btn js-dropdown-toggle cl-fff hv-cl-fdb913 fs-12 no-bg iWishView"
                           href="javascript:;" data-customer-id="0" class="iWishView">
                            <i class="fa fa-heart-o" aria-hidden="true"></i> Danh sách yêu thích
                        </a>
                    </div>
                    <div class="dropdown dropdown-lang dropdown-hotline dib">
                        <button class="btn cl-fff hv-cl-fdb913 fs-12 no-bg" type="button"
                                onclick="window.location.assign('tel:1900886865')">
                            <i class="fa fa-phone" aria-hidden="true"></i><span class="hidden-xs"> 1900886865</span>
                        </button>
                    </div>
                    <div class="menu-bar button-menu hidden-md hidden-lg">
                        <a href="javascript:;" class="hv-cl-fdb913">
                            <i class="fa fa-align-justify"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-2 col-xs-4 tac top-logo">
                    <a href="/">
                        <img class="hidden-xs"
                             src="//bizweb.dktcdn.net/100/335/786/themes/726329/assets/logo.png?1593138638645"
                             alt="logo">
                        <img class="hidden-sm hidden-md hidden-lg"
                             src="//bizweb.dktcdn.net/100/335/786/themes/726329/assets/logo-fixed.png?1593138638645"
                             alt="logo mobile">
                    </a>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-4">
                    <div class="top-cart-contain f-right">
                        <div class="mini-cart text-xs-center">
                            <a href="/cart" title="Giỏ hàng">
                                <img src="//bizweb.dktcdn.net/100/335/786/themes/726329/assets/cart-icon.png?1593138638645"
                                     alt="Giỏ hàng">
                                <span class="cartCount count_item_pr hidden"></span>
                            </a>

                        </div>
                    </div>
                    <div class="divider-horizontal f-right hidden-xs"></div>
                    <form class="search-bar hidden-xs pos-r no-mar f-right" action="/search" method="get"
                          role="search">
                        <input type="search" name="query" value="" placeholder="Tìm kiếm... " autocomplete="off"
                               class="fs-12">
                        <button class="btn icon-fallback-text pos-a no-bg fs-14">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="main-navi hidden-sm hidden-xs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="main-menu">
                        <ul class="custom-menu level0">


                            <li class="nav-item  has-sub">
                                <a href="/collections/all"
                                   class="arrow_nav nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913">Sản phẩm <i
                                            class="fa fa-angle-down hidden-sm"></i></a>
                                <i class="fa fa-angle-down hidden-md hidden-lg"></i>

                                <ul class="dropdown-menu">


                                    <li class="dropdown-submenu nav-item-lv2">
                                        <a class="nav-link" href="/trang-suc-kim-cuong">TRANG SỨC KIM CƯƠNG <i
                                                    class="fa fa-angle-right"></i></a>

                                        <ul class="dropdown-menu">

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/nhan-kim-cuong">Nhẫn kim cương</a>
                                            </li>

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/vong-tay-kim-cuong">Vòng/Lắc tay kim
                                                    cương</a>
                                            </li>

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/hoa-tai-kim-cuong">Hoa tai kim cương</a>
                                            </li>

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/mat-day-kim-cuong">Mặt dây kim cương</a>
                                            </li>

                                        </ul>
                                    </li>


                                    <li class="dropdown-submenu nav-item-lv2">
                                        <a class="nav-link" href="/trang-suc-cuoi">TRANG SỨC CƯỚI <i
                                                    class="fa fa-angle-right"></i></a>

                                        <ul class="dropdown-menu">

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/nhan-cuoi">Nhẫn cưới</a>
                                            </li>

                                        </ul>
                                    </li>


                                    <li class="dropdown-submenu nav-item-lv2">
                                        <a class="nav-link" href="/trang-suc-ngoc-trai">TRANG SỨC NGỌC TRAI <i
                                                    class="fa fa-angle-right"></i></a>

                                        <ul class="dropdown-menu">

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/nhan-ngoc-trai-1">Nhẫn ngọc trai</a>
                                            </li>

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/hoa-tai-ngoc-trai">Hoa tai ngọc trai</a>
                                            </li>

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/vong-lac-tay-ngoc-trai">Vòng/lắc tay ngọc
                                                    trai</a>
                                            </li>

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/mat-day-chuyen-ngoc-trai">Mặt dây chuyền
                                                    ngọc trai</a>
                                            </li>

                                        </ul>
                                    </li>


                                    <li class="dropdown-submenu nav-item-lv2">
                                        <a class="nav-link" href="/trang-suc-da-mau">TRANG SỨC ĐÁ MÀU <i
                                                    class="fa fa-angle-right"></i></a>

                                        <ul class="dropdown-menu">

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/nhan-da-mau">Nhẫn đá màu</a>
                                            </li>

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/vong-lac-tay-da-mau">Vòng/Lắc Tay đá
                                                    màu</a>
                                            </li>

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/hoa-tai-da-mau">Hoa tai đá màu</a>
                                            </li>

                                            <li class="nav-item-lv3">
                                                <a class="nav-link" href="/mat-day-chuyen-da-mau">Mặt dây chuyền đá
                                                    màu</a>
                                            </li>

                                        </ul>
                                    </li>


                                </ul>

                            </li>


                            <li class="nav-item  has-sub">
                                <a href="https://dhkj.vn/bstkythienha"
                                   class="arrow_nav nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913">Bộ sưu tập
                                    <i class="fa fa-angle-down hidden-sm"></i></a>
                                <i class="fa fa-angle-down hidden-md hidden-lg"></i>

                                <ul class="dropdown-menu">


                                    <li class="nav-item-lv2">
                                        <a class="nav-link" href="https://dhkj.vn/bstkythienha">Constella.era</a>
                                    </li>


                                    <li class="nav-item-lv2">
                                        <a class="nav-link"
                                           href="https://dhkj.vn/flora-era-la-bella-kham-pha-ve-dep-quyen-nang-cua-nguoi-phu-nu">Flora.era</a>
                                    </li>


                                </ul>

                            </li>


                            <li class="nav-item "><a class="nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913"
                                                     href="/uu-dai">Ưu đãi</a></li>


                            <li class="nav-item "><a class="nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913"
                                                     href="/tin-tuc">Blog</a></li>


                            <li class="nav-item "><a class="nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913"
                                                     href="/dat-lich-tu-van">Tư vấn</a></li>


                            <li class="nav-item  has-sub">
                                <a href="/gioi-thieu-chung"
                                   class="arrow_nav nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913">Về DHK <i
                                            class="fa fa-angle-down hidden-sm"></i></a>
                                <i class="fa fa-angle-down hidden-md hidden-lg"></i>

                                <ul class="dropdown-menu">


                                    <li class="nav-item-lv2">
                                        <a class="nav-link" href="/gioi-thieu-chung">Giới thiệu chung</a>
                                    </li>


                                    <li class="nav-item-lv2">
                                        <a class="nav-link" href="/he-thong-cua-hang">Hệ thống cửa hàng</a>
                                    </li>


                                    <li class="nav-item-lv2">
                                        <a class="nav-link" href="/tin-tuyen-dung">Tuyển dụng</a>
                                    </li>


                                </ul>

                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="menu-fixed menu-hide-fixed">
    <div class="container-fluid">
        <div class="row d-f f-vc" style="justify-content: space-between;">
            <div class="col-lg-3">
                <a href="/">
                    <img src="//bizweb.dktcdn.net/100/335/786/themes/726329/assets/logo-fixed.png?1593138638645"
                         alt="logo">
                </a>
            </div>
            <div class="col-lg-6">
                <nav class="main-menu hidden-sm hidden-xs">
                    <ul class="custom-menu level0">


                        <li class="nav-item  has-sub">
                            <a href="/collections/all"
                               class="arrow_nav nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913">Sản phẩm <i
                                        class="fa fa-angle-down hidden-sm"></i></a>
                            <i class="fa fa-angle-down hidden-md hidden-lg"></i>

                            <ul class="dropdown-menu">


                                <li class="dropdown-submenu nav-item-lv2">
                                    <a class="nav-link" href="/trang-suc-kim-cuong">TRANG SỨC KIM CƯƠNG <i
                                                class="fa fa-angle-right"></i></a>

                                    <ul class="dropdown-menu">

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/nhan-kim-cuong">Nhẫn kim cương</a>
                                        </li>

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/vong-tay-kim-cuong">Vòng/Lắc tay kim
                                                cương</a>
                                        </li>

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/hoa-tai-kim-cuong">Hoa tai kim cương</a>
                                        </li>

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/mat-day-kim-cuong">Mặt dây kim cương</a>
                                        </li>

                                    </ul>
                                </li>


                                <li class="dropdown-submenu nav-item-lv2">
                                    <a class="nav-link" href="/trang-suc-cuoi">TRANG SỨC CƯỚI <i
                                                class="fa fa-angle-right"></i></a>

                                    <ul class="dropdown-menu">

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/nhan-cuoi">Nhẫn cưới</a>
                                        </li>

                                    </ul>
                                </li>


                                <li class="dropdown-submenu nav-item-lv2">
                                    <a class="nav-link" href="/trang-suc-ngoc-trai">TRANG SỨC NGỌC TRAI <i
                                                class="fa fa-angle-right"></i></a>

                                    <ul class="dropdown-menu">

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/nhan-ngoc-trai-1">Nhẫn ngọc trai</a>
                                        </li>

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/hoa-tai-ngoc-trai">Hoa tai ngọc trai</a>
                                        </li>

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/vong-lac-tay-ngoc-trai">Vòng/lắc tay ngọc
                                                trai</a>
                                        </li>

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/mat-day-chuyen-ngoc-trai">Mặt dây chuyền ngọc
                                                trai</a>
                                        </li>

                                    </ul>
                                </li>


                                <li class="dropdown-submenu nav-item-lv2">
                                    <a class="nav-link" href="/trang-suc-da-mau">TRANG SỨC ĐÁ MÀU <i
                                                class="fa fa-angle-right"></i></a>

                                    <ul class="dropdown-menu">

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/nhan-da-mau">Nhẫn đá màu</a>
                                        </li>

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/vong-lac-tay-da-mau">Vòng/Lắc Tay đá màu</a>
                                        </li>

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/hoa-tai-da-mau">Hoa tai đá màu</a>
                                        </li>

                                        <li class="nav-item-lv3">
                                            <a class="nav-link" href="/mat-day-chuyen-da-mau">Mặt dây chuyền đá
                                                màu</a>
                                        </li>

                                    </ul>
                                </li>


                            </ul>

                        </li>


                        <li class="nav-item  has-sub">
                            <a href="https://dhkj.vn/bstkythienha"
                               class="arrow_nav nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913">Bộ sưu tập <i
                                        class="fa fa-angle-down hidden-sm"></i></a>
                            <i class="fa fa-angle-down hidden-md hidden-lg"></i>

                            <ul class="dropdown-menu">


                                <li class="nav-item-lv2">
                                    <a class="nav-link" href="https://dhkj.vn/bstkythienha">Constella.era</a>
                                </li>


                                <li class="nav-item-lv2">
                                    <a class="nav-link"
                                       href="https://dhkj.vn/flora-era-la-bella-kham-pha-ve-dep-quyen-nang-cua-nguoi-phu-nu">Flora.era</a>
                                </li>


                            </ul>

                        </li>


                        <li class="nav-item "><a class="nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913"
                                                 href="/uu-dai">Ưu đãi</a></li>


                        <li class="nav-item "><a class="nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913"
                                                 href="/tin-tuc">Blog</a></li>


                        <li class="nav-item "><a class="nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913"
                                                 href="/dat-lich-tu-van">Tư vấn</a></li>


                        <li class="nav-item  has-sub">
                            <a href="/gioi-thieu-chung"
                               class="arrow_nav nav-link ttu cl-fff fs-14 no-underline hv-cl-fdb913">Về DHK <i
                                        class="fa fa-angle-down hidden-sm"></i></a>
                            <i class="fa fa-angle-down hidden-md hidden-lg"></i>

                            <ul class="dropdown-menu">


                                <li class="nav-item-lv2">
                                    <a class="nav-link" href="/gioi-thieu-chung">Giới thiệu chung</a>
                                </li>


                                <li class="nav-item-lv2">
                                    <a class="nav-link" href="/he-thong-cua-hang">Hệ thống cửa hàng</a>
                                </li>


                                <li class="nav-item-lv2">
                                    <a class="nav-link" href="/tin-tuyen-dung">Tuyển dụng</a>
                                </li>


                            </ul>

                        </li>


                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="top-cart-contain f-right">
                    <div class="mini-cart text-xs-center">
                        <a href="/cart" title="Giỏ hàng">
                            <img src="//bizweb.dktcdn.net/100/335/786/themes/726329/assets/cart-icon.png?1593138638645"
                                 alt="Giỏ hàng">
                            <span class="cartCount count_item_pr hidden"></span>
                        </a>
                    </div>
                </div>
                <form class="search-bar hidden-xs pos-r no-mar f-right" action="/search" method="get" role="search">
                    <input type="search" name="query" value="" placeholder="Tìm kiếm... " autocomplete="off"
                           class="fs-12">
                    <button class="btn icon-fallback-text pos-a no-bg fs-14">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Menu mobile -->
<div class="menu_mobile max_991 hidden-md hidden-lg" style="display: none;">
    <ul class="ul_collections">

        <li class="level0 level-top parent">
            <a href="/collections/all">Sản phẩm</a>

            <i class="fa fa-angle-down"></i>
            <ul class="level0" style="display:none;">

                <li class="level1 ">
                    <a href="/trang-suc-kim-cuong"> <span>TRANG SỨC KIM CƯƠNG</span> </a>

                    <i class="fa fa-angle-down"></i>
                    <ul class="level1" style="display:none;">

                        <li class="level2 ">
                            <a href="/nhan-kim-cuong"><span>Nhẫn kim cương</span></a>

                        </li>

                        <li class="level2 ">
                            <a href="/vong-tay-kim-cuong"><span>Vòng/Lắc tay kim cương</span></a>

                        </li>

                        <li class="level2 ">
                            <a href="/hoa-tai-kim-cuong"><span>Hoa tai kim cương</span></a>

                        </li>

                        <li class="level2 ">
                            <a href="/mat-day-kim-cuong"><span>Mặt dây kim cương</span></a>

                        </li>

                    </ul>

                </li>

                <li class="level1 ">
                    <a href="/trang-suc-cuoi"> <span>TRANG SỨC CƯỚI</span> </a>

                    <i class="fa fa-angle-down"></i>
                    <ul class="level1" style="display:none;">

                        <li class="level2 ">
                            <a href="/nhan-cuoi"><span>Nhẫn cưới</span></a>

                            <i class="fa fa-angle-down"></i>
                            <ul class="level2" style="display:none;">

                                <li class="level3 ">
                                    <a href="/nhan-cuoi"><span>Nhẫn cưới</span></a>
                                </li>

                            </ul>

                        </li>

                    </ul>

                </li>

                <li class="level1 ">
                    <a href="/trang-suc-ngoc-trai"> <span>TRANG SỨC NGỌC TRAI</span> </a>

                    <i class="fa fa-angle-down"></i>
                    <ul class="level1" style="display:none;">

                        <li class="level2 ">
                            <a href="/nhan-ngoc-trai-1"><span>Nhẫn ngọc trai</span></a>

                        </li>

                        <li class="level2 ">
                            <a href="/hoa-tai-ngoc-trai"><span>Hoa tai ngọc trai</span></a>

                        </li>

                        <li class="level2 ">
                            <a href="/vong-lac-tay-ngoc-trai"><span>Vòng/lắc tay ngọc trai</span></a>

                        </li>

                        <li class="level2 ">
                            <a href="/mat-day-chuyen-ngoc-trai"><span>Mặt dây chuyền ngọc trai</span></a>

                        </li>

                    </ul>

                </li>

                <li class="level1 ">
                    <a href="/trang-suc-da-mau"> <span>TRANG SỨC ĐÁ MÀU</span> </a>

                    <i class="fa fa-angle-down"></i>
                    <ul class="level1" style="display:none;">

                        <li class="level2 ">
                            <a href="/nhan-da-mau"><span>Nhẫn đá màu</span></a>

                        </li>

                        <li class="level2 ">
                            <a href="/vong-lac-tay-da-mau"><span>Vòng/Lắc Tay đá màu</span></a>

                        </li>

                        <li class="level2 ">
                            <a href="/hoa-tai-da-mau"><span>Hoa tai đá màu</span></a>

                        </li>

                        <li class="level2 ">
                            <a href="/mat-day-chuyen-da-mau"><span>Mặt dây chuyền đá màu</span></a>

                        </li>

                    </ul>

                </li>

            </ul>

        </li>

        <li class="level0 level-top parent">
            <a href="https://dhkj.vn/bstkythienha">Bộ sưu tập</a>

            <i class="fa fa-angle-down"></i>
            <ul class="level0" style="display:none;">

                <li class="level1 ">
                    <a href="https://dhkj.vn/bstkythienha"> <span>Constella.era</span> </a>

                </li>

                <li class="level1 ">
                    <a href="https://dhkj.vn/flora-era-la-bella-kham-pha-ve-dep-quyen-nang-cua-nguoi-phu-nu"> <span>Flora.era</span>
                    </a>

                </li>

            </ul>

        </li>

        <li class="level0 level-top parent">
            <a href="/uu-dai">Ưu đãi</a>

        </li>

        <li class="level0 level-top parent">
            <a href="/tin-tuc">Blog</a>

        </li>

        <li class="level0 level-top parent">
            <a href="/dat-lich-tu-van">Tư vấn</a>

        </li>

        <li class="level0 level-top parent">
            <a href="/gioi-thieu-chung">Về DHK</a>

            <i class="fa fa-angle-down"></i>
            <ul class="level0" style="display:none;">

                <li class="level1 ">
                    <a href="/gioi-thieu-chung"> <span>Giới thiệu chung</span> </a>

                </li>

                <li class="level1 ">
                    <a href="/he-thong-cua-hang"> <span>Hệ thống cửa hàng</span> </a>

                </li>

                <li class="level1 ">
                    <a href="/tin-tuyen-dung"> <span>Tuyển dụng</span> </a>

                </li>

            </ul>

        </li>


        <li class="level0 level-top parent">
            <a href="/account/login">Đăng nhập</a>
        </li>
        <li class="level0 level-top parent">
            <a href="/account/register">Đăng ký</a>
        </li>


        <li class="level0 level-top parent">
            <a href="javascript:;" data-customer-id="0" class="iWishView">Danh sách yêu thích</a>
        </li>
    </ul>
</div>
<!-- End -->
