<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="span3 sidebar">
        <div class="widget widget_recent_entries"><h3>Bài viết mới</h3>
            <ul>
                {% set lastestNews = getLastestNews({'limit':5 }) %}
                {% if(lastestNews) %}
                    {% for news in lastestNews %}
                        <li>
                            <a href="{{ news.viewLink }}" title="{{ news.title }}">
                                {{ news.title }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>