<section class="banner-main-img">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="wrap-img">
                    <ul>
                        <li>
                            <a href="">
                                <img src="https://theme.hstatic.net/1000055804/1000533479/14/banner-3-copy.jpg?v=99" alt="" class="img is-full">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://theme.hstatic.net/1000055804/1000533479/14/banner-3-copy.jpg?v=99" alt="" class="img is-full">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrap-img">
                    <a href="">
                        <img src="https://theme.hstatic.net/1000055804/1000533479/14/banner-1-copy.jpg?v=99" alt="" class="img is-full h-362">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrap-img">
                    <ul style="padding: 0;">
                        <li>
                            <a href="">
                                <img src="https://theme.hstatic.net/1000055804/1000533479/14/banner-3-copy.jpg?v=99" alt="" class="img is-full">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://theme.hstatic.net/1000055804/1000533479/14/banner-3-copy.jpg?v=99" alt="" class="img is-full">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>