<section class="customer__reviews">
    <span class="customer__reviews--icon"></span>
    <p class="title">Nhật xét khách hàng</p>
    <div class="container">
        <div class="customer__reviews--slick">
            <div class="slick-item">
                <img src="https://theme.hstatic.net/1000055804/1000533479/14/customer-service1.jpg?v=99" alt="">
                <p class="slick-item--content">Cơm cùng các món mặn phong phú từ cá, thịt hèo, thịt bò, gà, mực và các loại rau thanh mát để bạn thoải mái lựa chọn cho mình các món khoái khẩu. Bữa tiệc còn có sự góp mặt của món bún, mì và canh giúp bạn thay đổi
                    khẩu vị và không thấy nhàm chán khi ăn. Cuối bữa ăn, bạn có thể tráng miệng với chè phục linh, rau câu trái cây hay uống nước sâm rong biển, trà, café… để tẩm bổ đầy đủ dinh dưỡng và giúp hệ tiêu hóa hoạt
                    động tốt hơn.
                </p>
            </div>
            <div class="slick-item">
                <img src="https://theme.hstatic.net/1000055804/1000533479/14/customer-service1.jpg?v=99" alt="">
                <p class="slick-item--content">Cơm cùng các món mặn phong phú từ cá, thịt hèo, thịt bò, gà, mực và các loại rau thanh mát để bạn thoải mái lựa chọn cho mình các món khoái khẩu. Bữa tiệc còn có sự góp mặt của món bún, mì và canh giúp bạn thay đổi
                    khẩu vị và không thấy nhàm chán khi ăn. Cuối bữa ăn, bạn có thể tráng miệng với chè phục linh, rau câu trái cây hay uống nước sâm rong biển, trà, café… để tẩm bổ đầy đủ dinh dưỡng và giúp hệ tiêu hóa hoạt
                    động tốt hơn.
                </p>
            </div>
            <div class="slick-item">
                <img src="https://theme.hstatic.net/1000055804/1000533479/14/customer-service1.jpg?v=99" alt="">
                <p class="slick-item--content">Cơm cùng các món mặn phong phú từ cá, thịt hèo, thịt bò, gà, mực và các loại rau thanh mát để bạn thoải mái lựa chọn cho mình các món khoái khẩu. Bữa tiệc còn có sự góp mặt của món bún, mì và canh giúp bạn thay đổi
                    khẩu vị và không thấy nhàm chán khi ăn. Cuối bữa ăn, bạn có thể tráng miệng với chè phục linh, rau câu trái cây hay uống nước sâm rong biển, trà, café… để tẩm bổ đầy đủ dinh dưỡng và giúp hệ tiêu hóa hoạt
                    động tốt hơn.
                </p>
            </div>
        </div>
    </div>
</section>