<!-- footer -->
        <footer class="footer" id="footer">
            <div class="bg-footer">
                <div class="tab-menu">
                    <span class="icon-menu"></span>
                    <p class="title">Bản tin</p>
                    <span class="describe">Đăng kí nhận bản tin ngay để được nhận nhưng thông tin ưu đãi sớm nhất</span>
                    <div class="input-mail">
                        <input type="text" class="form-control" placeholder="Nhập địa chỉ email ...">
                        <button class="submit-mail">Đăng kí</button>
                    </div>
                </div>
                <div class="footer-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="time">
                                    <span class="title">Thời gian</span>
                                    <div class="time-item">
                                        <ul>
                                            <li>
                                                <span>Thứ 2</span>
                                                <span>8:00 - 21:00</span>
                                            </li>
                                            <li>
                                                <span>Thứ 3</span>
                                                <span>8:00 - 21:00</span>
                                            </li>
                                            <li>
                                                <span>Thứ 4</span>
                                                <span>8:00 - 21:00</span>
                                            </li>
                                            <li>
                                                <span>Thứ 5</span>
                                                <span>8:00 - 21:00</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="contact">
                                    <span class="title">Liên hệ</span>
                                    <div class="contact-item">
                                        <ul>
                                            <li>
                                                <span class="bg-icon bg-icon--home">
                                                <i class="icon-home"></i>
                                            </span>
                                                <span>Địa chỉ: Tầng 4, Tòa nhà Flemington, 182 Lê Đại Hành, P.15, Q.11, HCM.</span>
                                            </li>
                                            <li>
                                                <span class="bg-icon bg-icon--email">
                                                <i class="icon-email"></i>
                                            </span>
                                                <span>Email: hi@haravan.com</span>
                                            </li>
                                            <li>
                                                <span class="bg-icon bg-icon--phone">
                                                <i class="icon-phone"></i>
                                            </span>
                                                <span>Hotline: 1900.636.099</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="icon-network">
                                        <ul>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <span class="title">Gửi liên hệ</span>
                                <div class="form-contact">
                                    <div class="input">
                                        <input type="text" placeholder="Tên của bạn" class="form-control">
                                        <input type="text" placeholder="Email của bạn" class="form-control">
                                    </div>
                                    <textarea name="" class="w-100" placeholder="Ghi chú"></textarea>
                                    <div class="submit-form">
                                        <button class="btn-form btn-submit">Gửi</button>
                                        <button class="btn-form btn-cancel">Hủy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="copyright">
                            <p>Copyright © 2020 restaurant-store. <span class="text-danger">Powered by Haravan.</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->