<div class="navbar-head" id="navbar-header">
    <div class="navbar-left">
        <a href="#" class="language">Hân hạnh phục vụ quý khách</a>
    </div>
    <div class="navbar-right">
        <div class="reglog">
            <div href="#" class="btn-login">Tài khoản
                <ul class="submenu-user">
                    <li><a href="">Đăng nhập</a> </li>
                    <li><a href="">Đăng ký</a></li>
                </ul>
            </div>
            <a href="#" class="btn-pay">Thanh toán</a>
            <a href="#" class="btn-cart">Giỏ hàng</a>
        </div>
    </div>
</div>