<aside class="icon-contact">
    <button class="on-top-btn">
        <img src="/tpl/V0517/img/email-white.svg" alt="Email">
    </button>
    <button class="on-top-btn">
        <img src="/tpl/V0517/img/call.svg" alt="Call">
    </button>
    <button class="on-top-btn">
        <img src="/tpl/V0517/img/map_left.svg" alt="Call">
    </button>
    <button class="on-top-btn" id="myBtn">
        <img src="/tpl/V0517/img/next.svg" alt="Back To Top">
    </button>
</aside>