<section class="product-promotional">
    <div class="tab-menu">
        <span class="icon-menu"></span>
        <p class="title">Sản phẩm khuyến mãi</p>
        <span class="describe">Restaurant được thực khách gần xa biết đến như một điểm hẹn ẩm thực để thưởng thức buffet tuyệt vời</span>
    </div>
    <div class="assist-body">
        <div class="container">
            <div class="tab-body">
                <div class="tab-content">
                    <div class="products-all other-products">
                        <div class="container">
                            <div class="slick-slider-product">
                                <div class="slick-item">
                                    <div class="card">
                                        <img src="https://hstatic.net/804/1000055804/1/2015/12-3/4_14_ff00fda5-dcfb-432c-6d55-6d61dcb5d683_large.jpg" alt="Item 1">
                                        <div class="icon-card">
                                            <a href="">
                                                <span class="add-cart">Thêm vào giỏ</span>
                                            </a>
                                            <a href="">
                                                <span class="icon-add"></span>
                                            </a>
                                            <a href="">
                                                <span class="icon-search"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <span class="name">Caren mitema</span>
                                        <span class="price">145,000₫</span>
                                    </div>
                                    <span class="old-price">145,000₫</span>
                                </div>
                                <div class="slick-item">
                                    <div class="card">
                                        <img src="https://hstatic.net/804/1000055804/1/2015/12-3/4_14_ff00fda5-dcfb-432c-6d55-6d61dcb5d683_large.jpg" alt="Item 1">
                                        <div class="icon-card">
                                            <a href="">
                                                <span class="add-cart">Thêm vào giỏ</span>
                                            </a>
                                            <a href="">
                                                <span class="icon-add"></span>
                                            </a>
                                            <a href="">
                                                <span class="icon-search"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <span class="name">Caren mitema</span>
                                        <span class="price">145,000₫</span>
                                    </div>
                                    <span class="old-price">145,000₫</span>
                                </div>
                                <div class="slick-item">
                                    <div class="card">
                                        <img src="https://hstatic.net/804/1000055804/1/2015/12-3/4_14_ff00fda5-dcfb-432c-6d55-6d61dcb5d683_large.jpg" alt="Item 1">
                                        <div class="icon-card">
                                            <a href="">
                                                <span class="add-cart">Thêm vào giỏ</span>
                                            </a>
                                            <a href="">
                                                <span class="icon-add"></span>
                                            </a>
                                            <a href="">
                                                <span class="icon-search"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <span class="name">Caren mitema</span>
                                        <span class="price">145,000₫</span>
                                    </div>
                                    <span class="old-price">145,000₫</span>
                                </div>
                                <div class="slick-item">
                                    <div class="card">
                                        <img src="https://hstatic.net/804/1000055804/1/2015/12-3/4_14_ff00fda5-dcfb-432c-6d55-6d61dcb5d683_large.jpg" alt="Item 1">
                                        <div class="icon-card">
                                            <a href="">
                                                <span class="add-cart">Thêm vào giỏ</span>
                                            </a>
                                            <a href="">
                                                <span class="icon-add"></span>
                                            </a>
                                            <a href="">
                                                <span class="icon-search"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <span class="name">Caren mitema</span>
                                        <span class="price">145,000₫</span>
                                    </div>
                                    <span class="old-price">145,000₫</span>
                                </div>
                                <div class="slick-item">
                                    <div class="card">
                                        <img src="https://hstatic.net/804/1000055804/1/2015/12-3/4_14_ff00fda5-dcfb-432c-6d55-6d61dcb5d683_large.jpg" alt="Item 1">
                                        <div class="icon-card">
                                            <a href="">
                                                <span class="add-cart">Thêm vào giỏ</span>
                                            </a>
                                            <a href="">
                                                <span class="icon-add"></span>
                                            </a>
                                            <a href="">
                                                <span class="icon-search"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <span class="name">Caren mitema</span>
                                        <span class="price">145,000₫</span>
                                    </div>
                                    <span class="old-price">145,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>