<nav id="menu" role="navigation">
        <div class="brand">&Aopf;
            <img src="https://theme.hstatic.net/1000055804/1000533479/14/history-logo.png?v=98" alt="Logo">
        </div>
        <ul>
            <li class="menu-father">
                <a href="#" class="menu-father__item">Trang chủ</a>
                <div class="sub-menu">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu-father">
                <a href="#" class="menu-father__item">Sản phẩm</a>
                <div class="sub-menu">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu-father">
                <a href="#" class="menu-father__item">Giới thiệu</a>
                <div class="sub-menu">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sub-menu__item">
                                <h3>MÓN TRÁNG MIỆNG</h3>
                                <ul class="text-left">
                                    <li>
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Thực đơn</a>
                                    </li>
                                    <li>
                                        <a href="">Tin tức - Sự kiện</a>
                                    </li>
                                    <li>
                                        <a href="">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>