<section class="bg-fixed">
    <!-- staff -->
    <div class="staff">
        <span class="title">Đội ngũ nhân viên</span>
        <a href="">
            <img src="https://theme.hstatic.net/1000055804/1000533479/14/logo_his.png?v=99" alt="Logo staff">
        </a>
        <p class="staff-content">
            Thực đơn buffet phong phú có hơn 50 món do chính tay đầu bếp giàu kinh nghiệm lựa chọn, được dọn lên theo trình tự súp, khai vị, món nướng, món mặn, món nước, món canh, chè và trái cây tráng miệng để thực khách thưởng thức trọn vẹn tất cả các loại
            món mà không cảm thấy quá no, thay vào đó chỉ còn lại hương vị thơm ngon cùng chất dinh dưỡng đặc biệt trong từng món ăn sẽ làm cho thực khách nhớ mãi.
        </p>
    </div>
    <!-- slider staff -->
    <div class="container">
        <div class="slider__staff">
            <div class="slider__staff--item">
                <img src="https://theme.hstatic.net/1000055804/1000533479/14/member-1.jpg?v=99" alt="">
                <p class="item-name">Khoa Nguyễn</p>
                <span class="item-describe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, consequuntur!</span>
            </div>
            <div class="slider__staff--item">
                <img src="https://theme.hstatic.net/1000055804/1000533479/14/member-2.jpg?v=99" alt="">
                <p class="item-name">Khoa Nguyễn</p>
                <span class="item-describe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, consequuntur!</span>
            </div>
            <div class="slider__staff--item">
                <img src="https://theme.hstatic.net/1000055804/1000533479/14/member-3.jpg?v=99" alt="">
                <p class="item-name">Khoa Nguyễn</p>
                <span class="item-describe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, consequuntur!</span>
            </div>
            <div class="slider__staff--item">
                <img src="https://theme.hstatic.net/1000055804/1000533479/14/member-4.jpg?v=99" alt="">
                <p class="item-name">Khoa Nguyễn</p>
                <span class="item-describe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, consequuntur!</span>
            </div>
            <div class="slider__staff--item">
                <img src="https://theme.hstatic.net/1000055804/1000533479/14/member-5.jpg?v=99" alt="">
                <p class="item-name">Khoa Nguyễn</p>
                <span class="item-describe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, consequuntur!</span>
            </div>
            <div class="slider__staff--item">
                <img src="https://theme.hstatic.net/1000055804/1000533479/14/member-1.jpg?v=99" alt="">
                <p class="item-name">Khoa Nguyễn</p>
                <span class="item-describe">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, consequuntur!</span>
            </div>
        </div>
    </div>
    <!-- end slider staff -->
    <!-- end staff -->
</section>