<div id="quick-view-product" class="quickview-product modal fade" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">

        </div>
    </div>
</div>
<div id="popup-cart" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">

        </div>
    </div>
</div>
<footer class="footer">
    <div class="site-footer">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <a href="/" class="foo-logo">
                            <img class="lazy" src="https://theme.hstatic.net/1000329005/1000419954/14/foo-logo.png" data-original="//theme.hstatic.net/1000329005/1000419954/14/foo-logo.png?v=85" alt="DL Pelican - Giao diện bán hàng" />
                        </a>
                    </div>
                    <div class="col-md-7 col-xs-12">
                        <p>Báo cáo Thương mại điện tử cho phép bạn phân tích hoạt động mua hàng trên trang web hoặc ứng dụng của mình. Bạn có thể xem thông tin về sản phẩm và giao dịch, giá trị đặt hàng trung bình, tỷ lệ chuyển đổi thương mại điện tử, thời gian mua hàng.</p>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <p><a href="tel:0912117494"><b>0912117494</b></a> : Tư vấn bán hàng</p>
                        <p><a href="tel:0912117494"><b>0912117494</b></a> : Khiếu nại, bảo hành</p>
                        <p>Thời gian làm việc: 8h -  22h</p>
                        <p>Góp ý: <a href="mailto:dualeotheme@gmail.com">dualeotheme@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                        <div class="footer-widget">
                            <h4 class="cliked hasclick"><span>Thông tin</span></h4>
                            <ul class="list-menu toggle-mn" >

                                <li class="li_effect"><a href="/search">Tìm kiếm</a></li>

                                <li class="li_effect"><a href="/about-us">Giới thiệu</a></li>

                                <li class="li_effect"><a href="/pages/chinh-sach-doi-tra">Chính sách đổi trả</a></li>

                                <li class="li_effect"><a href="/pages/chinh-sach-bao-mat">Chính sách bảo mật</a></li>

                                <li class="li_effect"><a href="/pages/dieu-khoan-dich-vu">Điều khoản dịch vụ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                        <div class="footer-widget">
                            <h4 class="cliked hasclick"><span>Hướng dẫn</span></h4>
                            <ul class="list-menu toggle-mn" >

                                <li class="li_effect"><a href="/search">Tìm kiếm</a></li>

                                <li class="li_effect"><a href="/pages/about-us">Giới thiệu</a></li>

                                <li class="li_effect"><a href="/pages/chinh-sach-doi-tra">Chính sách đổi trả</a></li>

                                <li class="li_effect"><a href="/pages/chinh-sach-bao-mat">Chính sách bảo mật</a></li>

                                <li class="li_effect"><a href="/pages/dieu-khoan-dich-vu">Điều khoản dịch vụ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                        <div class="footer-widget">
                            <h4 class="cliked hasclick"><span>Liên hệ</span></h4>
                            <ul class="list-menu toggle-mn" >

                                <li class="li_effect"><a href="/search">Tìm kiếm</a></li>

                                <li class="li_effect"><a href="/pages/about-us">Giới thiệu</a></li>

                                <li class="li_effect"><a href="/pages/chinh-sach-doi-tra">Chính sách đổi trả</a></li>

                                <li class="li_effect"><a href="/pages/chinh-sach-bao-mat">Chính sách bảo mật</a></li>

                                <li class="li_effect"><a href="/pages/dieu-khoan-dich-vu">Điều khoản dịch vụ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget">
                            <h4 class="cliked hasclick"><span>Liên kết</span></h4>
                            <div class="list-menu toggle-mn" >
                                <div class="social_right">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                    <a href="#"><i class="fab fa-google-plus"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                                <div class="bct">
                                    <p>
                                        <b>Bảo vệ bởi: </b>
                                        <a href="#"><img class="lazy" src="//theme.hstatic.net/1000329005/1000419954/14/bocongthuong.png" data-original="//theme.hstatic.net/1000329005/1000419954/14/bocongthuong.png?v=85" alt="Bộ công thương" /></a>
                                    </p>
                                </div>
                                <div class="payment">
                                    <img  src="//theme.hstatic.net/1000329005/1000419954/14/payment.png" data-original="//theme.hstatic.net/1000329005/1000419954/14/payment.png?v=85" alt="DL Pelican - Giao diện bán hàng" class="payment_img lazy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom clearfix">
                <div class="row">
                    <div class="col-xs-12 col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <p><b>CÔNG TY CỔ PHẦN BÁN HÀNG VÀ DỊCH VỤ PELICAN</b></p>
                        <p>Trụ sở: 268 Cầu Giấy - TP Hà Nội</p>
                        <p>Chi nhánh: Số 68 Điện Biên Phủ - TP HCM</p>
                        <p>Chi nhánh: Số 68 Đặng Thái Thân - TP Vinh</p>
                        <p>Chịu trách nhiệm nội dung: Creativewithjoy</p>
                        <p>Nhanh.vn | Thiết kế web bởi Nhanh.vn</p>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="fb-page-test">
                            <div class="fb-page" data-href="nhanh.vn"
                                 data-small-header="false" data-adapt-container-width="true"
                                 data-hide-cover="false" data-show-facepile="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright clearfix">
        <div class="container">
            <div class="inner clearfix">
                <div class="row tablet">
                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fot_copyright a-center">
                        <span class="wsp"><span class="mobile">Nhanh.vn</span><span class="hidden-xs"> | </span><span class="mobile">Thiết kế web bởi  <a rel="nofollow" href="https://Nhanh.vn/" title="Nhanh.vn" target="_blank">Nhanh.vn</a></span></span>
                    </div>

                </div>
            </div>

            <a href="#" id="back-to-top" class="backtop"  title="Lên đầu trang"><i class="fa fa-angle-double-up"></i></a>


            <a class="hidden-lg phone_backtotop left_bottom" title="Gọi ngay" href="tel:0912117494"><i class="fa fa-phone"></i></a>

        </div>
    </div>
</footer>