{#HƯỚNG DẪN CHỌN SIZE#}
<div class="content__size--top">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span class="title-choose-size">Cách chọn size</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="choose-size">
                        <div class="tutorial-size">
                            <div class="row">
                                <div class="col-12 col-md-8 col-lg-8 col-ms-8">
                                    <div class="custom-size">
                                        <span class="title-active">Đầm</span>
                                        <ul class="custom-size-list">
                                            <li class="size-list">Áo</li>
                                            <li class="size-list">Váy</li>
                                            <li class="size-list">Vest</li>
                                            <li class="size-list">Sơ mi</li>
                                            <li class="size-list">Măng tô</li>
                                        </ul>
                                    </div>
                                    <div class="suggestions-size">
                                        <img src="//theme.hstatic.net/200000000133/1000569834/14/imgSize1.png?v=1250" alt="">
                                    </div>
                                </div>
    
                                <div class="col-12 col-md-4 col-lg-4 col-ms-4">
                                    <div class="img-demo">
                                        <img src="//theme.hstatic.net/200000000133/1000569834/14/model-size.png?v=1250" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
