/********************  BEGIN Helvetica Neue *********************/

/*********** Helvetica Neue Light Italic *********/
@font-face {
    font-family:'Helvetica Neue';
    font-style: italic;
    font-weight: 300;
    src:local('helvetica neue light italic'),
    local('helvetica neue light italic'),
    url(../fonts/helveticaneuelightitalic.ttf) format('truetype'),
    url(../fonts/helveticaneue-lightitalic.otf) format('opentype');
}

/*********** Helvetica Neue Regular *********/
@font-face {
    font-family:'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    src:local('helvetica neue regular'),
    local('helvetica neue regular'),
    url(../fonts/helveticaneue.ttf) format('truetype'),
    url(../fonts/helveticaneue.otf) format('opentype');
}

/*********** Helvetica Neue Italic *********/
@font-face {
    font-family:'Helvetica Neue';
    font-style: italic;
    font-weight: 400;
    src:local('helvetica neue italic'),
    local('helvetica neue italic'),
    url(../fonts/helveticaneueitalic.ttf) format('truetype'),
    url(../fonts/helveticaneue-italic.otf) format('opentype');
}

/*********** Helvetica Neue Medium *********/
@font-face {
    font-family:'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    src:local('helvetica neue medium'),
    local('helvetica neue medium'),
    url(../fonts/helveticaneuemedium.ttf) format('truetype'),
    url(../fonts/helveticaneue-medium.otf) format('opentype');
}

/*********** Helvetica Neue Bold *********/
@font-face {
    font-family:'Helvetica Neue';
    font-style: normal;
    font-weight: 600;
    src:local('helvetica neue bold'),
    local('helvetica neue bold'),
    url(../fonts/helveticaneuebold.ttf) format('truetype'),
    url(../fonts/helveticaneue-bold.otf) format('opentype');
}

/*********** Helvetica Neue extral Bold *********/
@font-face {
    font-family:'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    src:local('helvetica neue extral bold'),
    local('helvetica neue extral bold'),
    url(../fonts/helveticaneuecondensedbold.ttf) format('truetype'),
    url(../fonts/helveticaneue-condensedbold.otf) format('opentype');
}