<section class="banner-journeys">
  <div class="container">
    <a href="">
      <img src="/tpl/V0509/img/temp/kv-web-dich-vu-1400x600.jpg"
           alt="Gói trọn hành trình" class="img img-fluid">
    </a>
  </div>
</section>
