<aside class="form-message" id="js-form-message">
    <div class="message-contact form-group">
        <p class="title-contact">Xin chào! có mặt để hỗ trợ</p>
        <div class="body-message ">
            <label> Nhập thông tin của bạn* </label>
            <input type="text" class="form-control" placeholder="Nhập tên của bạn">
            <input type="text" class="form-control" placeholder="Nhập email của bạn">
            <input type="text" class="form-control" placeholder="Nhập số điện thoại của bạn">
            <label>Chọn dịch vụ hỗ trợ*</label>
            <select class="form-control">
                <option>-- Chọn 1 dịch vụ hỗ trợ --</option>
                <option>CSKV</option>
                <option>Bảo hành</option>
                <option>Tư vấn đặt hàng</option>
                <option>Đặt hàng</option>
            </select>
            <label for="exampleFormControlTextarea1">Tin nhắn*</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button class="button-chat">Bắt đầu chat</button>
        </div>
    </div>
</aside>