<aside class="icon-contact">
    <div class="box-button is_pc">
        <a href="https://www.facebook.com/" class="btn btn-secondary d-flex justify-content-center align-items-center" title="Facebook">
        </a>
        <a href="/maps" class="btn btn-secondary d-flex justify-content-center align-items-center" title="Map">
        </a>
        <a href="tel:12345678" class="btn btn-secondary d-flex justify-content-center align-items-center" title="Phone: 12345678">
        </a>
    </div>
    <div class="box-button is_moblie">
        <div class="icon-menu-moblie">
            <a href="facebook.com" class="d-flex justify-content-center align-items-center">
                <span class="icon icon-facebook" title="Facebook"></span>
            </a>
            <a href="/maps" class="d-flex justify-content-center align-items-center">
                <span class="icon icon-map"></span>
            </a>
            <a href="tel:123456789" class="d-flex justify-content-center align-items-center">
                <span class="icon icon-phone"></span>
            </a>
        </div>
        <span class="openRightNav"></span>
    </div>
</aside>
