<section class="popup-overlay">
    <div class="popup position-relative">
        <img src="https://bizweb.dktcdn.net/100/349/716/products/pw02-black-20-s-square-1.jpg?v=1592873895297" alt="Popup">
        <a href="javascript:void(0)" class="btn-closed">X</a>
    </div>
</section>