<section class="services">
  <div class="container reassurance-container">
    <div class="sub-container">
      <div class="services-items">
        <img src="/tpl/V0509/img/giao-hang.svg" alt="Giao hàng">
        <p class="sub-title">Giao hàng toàn quốc</p>
      </div>
      <div class="services-items">
        <img src="/tpl/V0509/img/thanh-toan-01.svg" alt="Thanh Toán">
        <p class="sub-title">Thanh toán an toàn 100%</p>
      </div>
      <div class="services-items">
        <img src="/tpl/V0509/img/bao-hanh-5-nam-01.svg" alt="Bảo hành 5 năm">
        <p class="sub-title">Bảo hành 05 năm</p>
      </div>
      <div class="services-items">
        <img src="/tpl/V0509/img/cskv.svg" alt="Cảnh sát khu vực">
        <p class="sub-title">Chăm sóc khách hàng miễn phí</p>
      </div>
      <div class="services-items">
        <img
            src="/tpl/V0509/img/phan-phoi-doc-quyen.svg"
            alt="Phân phối độc quyền">
        <p class="sub-title">Phân phối độc quyền</p>
      </div>
    </div>

  </div>
</section>
