<section class="text-animation">
  <div class="container">
    <div class="marqueeWrap">
      <div class="marquee">
        Chúng tôi sẽ truyền cảm hứng cho từng hành trình bạn đi, đồng hành trên từng bước chân giúp bạn mang về, gói
        trọn kỉ niệm, trải nghiệm & chia sẻ những cảm xúc đẹp nhất từ điểm đến.
      </div>
    </div>
  </div>
</section>
